-
  const pathStatics = PRODUCTION ? 'assets' : '/assets'

  function staticImg (image) {
    return `${pathStatics}/img/${image}`
  }

  const pages = [
    { view: 'index', name: 'главная' },
    { view: 'marathon', name: 'марафон' },
    { view: 'stock', name: 'акции' },
    { view: 'about', name: 'О платформе' },
    { view: 'external', name: 'Экстернат' },
    { view: 'external-green', name: 'Экстернат зелёный' },
    { view: 'manual', name: 'Скачать руководство' },
    { view: 'nachalnaya-shkola', name: 'Начальная школа' },
    { view: 'srednyaya-shkola', name: 'Средняя школа' },
    { view: 'starshaya-shkola', name: 'Старшая школа' },
    { view: 'course-blue', name: 'Страница курса синяя' },
    { view: 'course-green', name: 'Страница курса зелёная' },
    { view: 'course-violet', name: 'Страница курса фиолетовая' },
    { view: 'family', name: 'Семейное обучение' },
    { view: 'family-thanks', name: 'Скачать бонус для семейного обучения' },
    { view: 'course-teacher', name: 'Страница курс учителя' },
    { view: 'thanks-motivation', name: 'Страница скачать руководство «Как мотивировать ребёнка учиться»' },
  ]
