-
  const pathStatics = PRODUCTION ? 'assets' : '/assets'

  function staticImg (image) {
    return `${pathStatics}/img/${image}`
  }

  const pages = [
    { view: 'index', name: 'главная' },
    { view: 'external', name: 'Экстернат' },
    { view: 'external-green', name: 'Экстернат зелёный' },
    { view: 'manual', name: 'Скачать руководство' },
    { view: 'nachalnaya-shkola', name: 'Начальная школа' },
  ]
