form#modal-external.modal-external
  .modal-external__title Скачивайте руководство о&nbsp;переходе на экстернат с&nbsp;«Точкой Знаний»
  input.modal-external__input.input-gray(name='name' placeholder='Ваше имя' type='text')
  input.modal-external__input.input-gray(name='tel' placeholder='Номер телефона' type='tel')
  input.modal-external__input.input-gray(name='email' placeholder='Электронная почта' type='email')
  button.modal-external__button.btn-warning Скачать
  .modal-external__note
    | Нажимая на кнопку «Скачать», я соглашаюсь с
    |
    a(href='https://tochka-school.ru/storage/app/media/Dokumenti/Politika_obrabotki_personalnih_dannih_OOO.pdf' target='_blank')
      | политикой обработки персональных данных.
