.cont-small {
  max-width: calc(850px + 30px);
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  @include media(md) {
    max-width: calc(363px + 30px);
    //max-width: 100%;
  }
}

h1 {
  color: #222;
  text-align: center;
  font-size: 45px;
  font-weight: 700;
  line-height: 1.2;
}

h2 {
  color: #222;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 60px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.list li {
  display: flex;
  gap: 20px;
}

.list li p {
  margin-bottom: 0;
}

.list li p span {
  color: #fa6d6d;
}

.list li:before {
  content: "";
  background: url(../img/check.svg) center / cover no-repeat;
  width: 29px;
  height: 29px;
  min-width: 29px;
}

.list li.not:before {
  background: url(../img/check-not.svg) center / cover no-repeat;
}

.list li.not {
  color: #c9c9c9;
}

.green-list .list li.not:before {
  background: url(../img/check-not.svg) center / cover no-repeat;
}

.green-list .list li:before,
.greens .list li:before {
  background: url(../img/check-green2.svg) center / cover no-repeat;
}

.caption {
  color: #222;
  font-weight: 700;
  font-size: 45px;
  line-height: 136%;
  @include media(md) {
    font-size: 32px;
    line-height: 136%;
  }
  @include media(sm) {
    font-size: 20px;
    line-height: 122%;
  }
}

.title {
  color: #222;
  font-weight: 700;
  font-size: 35px;
  line-height: 122%;
  @include media(md) {
    font-size: 30px;
  }
  @include media(sm) {
    font-size: 27px;
  }
}

.iti {
  --iti-path-flags-1x: url('../img/intl-tell-input/flags.webp');
  --iti-path-flags-2x: url('../img/intl-tell-input/flags@2x.webp');
  --iti-path-globe-1x: url('../img/intl-tell-input/globe.webp');
  --iti-path-globe-2x: url('../img/intl-tell-input/globe@2x.webp');
}

.fancybox-can-pan .fancybox-content, .fancybox-can-swipe .fancybox-content {
  cursor: default;
}

.error {
  border: 1px solid red !important;
}

.error-text {
  color: red !important;
}

.sticky-header {
  position: sticky;
  z-index: 10;
  top: 0;
}

.new-year {
  header {
    background-color: transparent;
  }
  header.white {
    background-color: white;
  }
  .offer {
    @include bgIcon('offer/offer_bg.png');
    background-size: cover;
    background-position: bottom center;
    margin-top: -109px;
    @include media(md) {
      margin-top: -99px;
      padding: 100px 0 160px;
      @include bgIcon('offer/offer_bg_tablet.png');
      background-size: cover;
      background-position: bottom center;
    }
    @include media(sm) {
      padding: 110px 0 160px;
    }
    @include media(xs) {
      @include bgIcon('offer/offer_bg_mob.png');
      background-size: cover;
      background-position: bottom center;
    }
  }

  .primary-offer {
    padding: 195px 0 150px;
    margin-bottom: 0;
    margin-top: -109px;
    @include media(md) {
      margin-top: -99px;
    }
    @media (max-width: 1199px) {
      padding: 65px 0 70px;
      margin-bottom: 0;
    }
    &::after, &::before {
      content: none;
    }
  }

  .primary-ofr {
    @include bgIcon('offer/primary-ofr_bg.png');
    background-size: cover;
    background-position: bottom center;
    @include media(sm) {
      @include bgIcon('offer/primary-ofr_bg_tablet.png');
      background-size: cover;
      background-position: bottom center;
    }
    @include media(xs) {
      @include bgIcon('offer/primary-ofr_bg_mob.png');
      background-size: cover;
      background-position: bottom center;
    }
  }

  .secondary-offer {
    @include bgIcon('offer/primary-secondary_bg.png');
    background-size: cover;
    background-position: bottom center;
    @include media(sm) {
      @include bgIcon('offer/primary-secondary_bg_tablet.png');
      background-size: cover;
      background-position: bottom center;
    }
    @include media(xs) {
      @include bgIcon('offer/primary-secondary_bg_mob.png');
      background-size: cover;
      background-position: center center;
    }
  }

  .hight-offer-block {
    padding: 0;
    background-color: transparent;
    &::after, &::before {
      content: none;
      @media (max-width: 575px) {
        content: none;
      }
    }
    @include media(md) {
      margin-top: -99px;
    }
    @media (max-width: 991px) {
      padding-top: 130px;
    }
    @include bgIcon('offer/primary-high_bg.png');
    background-size: cover;
    background-position: bottom center;
    @include media(sm) {
      @include bgIcon('offer/primary-high_bg_tablet.png');
      background-size: cover;
      background-position: bottom center;
    }
    @include media(xs) {
      @include bgIcon('offer/primary-high_bg_mob.png');
      background-size: cover;
      background-position: bottom center;
    }
  }

  .hight-offer {
    background-color: transparent;
    padding: 100px 0 150px;
  }

  .footer {
    padding: 130px 0 40px;
    @include media(xs) {
      padding: 100px 0 70px;
    }
    &::before {
      content: '';
      @include bgIcon('icons/ic_footer_snow.svg');
      position: absolute;
      z-index: 2;
      top: 40px;
      left: 0;
      right: 0;
      height: 74px;
      @include media(md) {
        @include bgIcon('icons/ic_footer_snow_tablet.svg');
      }
      @include media(xs) {
        top: 30px;
        @include bgIcon('icons/ic_footer_snow_mob.svg');
      }
    }
    &::after {
      content: '';
      height: 60px;
      position: absolute;
      z-index: 1;
      top: -1px;
      left: 0;
      right: 0;
      background-color: $white;
    }
  }
}
