.discount {
  @include bgIcon('discount/discount-bg.svg');
  background-size: cover;
  @include media(md) {
    @include bgIcon('discount/discount-bg_tablet.svg');
    background-size: cover;
  }
  @include media(xs) {
    @include bgIcon('discount/discount-bg_mob.svg');
    background-size: cover;
  }
}

.discount__area {
  position: relative;
  padding-right: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 80px;
  @include media(md) {
    padding-right: 0;
    flex-direction: column;
    justify-content: center;
  }
}

.discount__box {
  @include media(xs) {
    display: flex;
    align-items: center;
  }
}

.discount__text {
  margin-right: 20px;
  font-weight: 700;
  font-size: 22px;
  line-height: 144%;
  color: #222;
  @include media(md) {
    margin-right: 0;
    margin-top: 8px;
    margin-bottom: 9px;
    font-size: 18px;
  }
  @include media(xs) {
    margin-bottom: 6px;
    position: relative;
    font-size: 10px;
  }
  span {
    font-weight: 700;
  }
}

.discount__text-big {
  @include media(xs) {
    margin-bottom: 4px;
    display: block;
    font-size: 18px;
  }
}

.discount__text-price {
  position: relative;
  padding: 0 5px;
  margin: 0 7px;
  @include media(md) {
    margin: 0 4px;
  }
  @include media(xs) {
    font-size: 22px;
    line-height: 136%;
    display: none;
  }
  &::before {
    content: '';
    background: #ffca42;
    border-radius: 1px;
    position: absolute;
    z-index: -1;
    top: -2px;
    right: -2px;
    left: -2px;
    bottom: -2px;
  }
  &_mobile {
    display: none;
    @include media(xs) {
      display: block;
      font-size: 22px;
      line-height: 136%;
      font-weight: 700;
      margin-left: 10px;
    }
  }
}

.discount__text-small {
  @include media(xs) {
    width: 100%;
  }
}

.discount__time {
  font-weight: 500;
  font-size: 15px;
  line-height: 155%;
  color: #000;
  @include media(md) {
    font-size: 10px;
    display: flex;
    align-items: center;
  }
}

.discount__close {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 32px;
  height: 32px;
  @include bgIcon('discount/ic_discount_close.svg');
  border: none;
  background-color: transparent;
  @include media(md) {
    position: static;
    transform: none;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    margin-left: 12px;
  }
}
