.lectures {
  margin-bottom: 70px;
  @include media(md) {
    margin-bottom: 40px;
  }
  .container {
    padding-top: 70px;
    padding-bottom: 70px;
    overflow: hidden;
    @include media(md) {
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }
}

.lectures_blue {
  background: #f6faff;
  .lectures__tags li {
    color: #91add0;
    background: #e8f2ff;
  }
  .lectures__list li {
    &::before {
      @include bgIcon('icons/check_blue.svg');
    }
  }
  .lectures__nav {
    background-color: #c7e0ff;
  }
  .lectures__box, .lectures__picture {
    border: 1px solid #e3ebfe;
  }
}

.lectures_green {
  background: #e7f9e8;
  .lectures__tags li {
    background: #d6f1d9;
    color: #75af7a;
  }
  .lectures__list li {
    &::before {
      @include bgIcon('icons/check_green.svg');
    }
  }
  .lectures__nav {
    background-color: #75AF7A;
  }
  .lectures__box, .lectures__picture {
    border: 1px solid #e8f9e9;
  }
}

.lectures__title {
  margin-bottom: 55px;
  @include media(md) {
    margin-bottom: 30px;
  }
}

.lectures__area {
  position: relative;
  z-index: 1;
}

.lectures__slider {
  position: relative;
  z-index: 1;
  margin: 0 91px;
  @include media(md) {
    padding: 0;
    margin: 0;
  }
  @include media(sm) {
    margin-top: 100px;
    z-index: 2;
    pointer-events: none;
  }
}

.lectures__nav-box {
  display: flex;
  justify-content: space-between;
  position: absolute;
  z-index: 1;
  pointer-events: none;
  top: 230px;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  @include media(md) {
    position: static;
    margin-top: 25px;
    justify-content: center;
    align-items: center;
    transform: none;
  }
  @include media(sm) {
    position: absolute;
    top: -80px;
    justify-content: space-between;
  }
}

.lectures__nav {
  pointer-events: all;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  @include media(md) {
    width: 48px;
    height: 48px;
  }
  @include media(sm) {
    width: 35px;
    height: 35px;
  }
  &:disabled {
    opacity: 0.25;
  }
  &::before {
    content: '';
    width: 37px;
    height: 37px;
    @include bgIcon('icons/ic_arrow_slider_white.svg');
    @include media(md) {
      width: 32px;
      height: 32px;
    }
  }
}

.lectures__nav_prev {
  transform: rotate(180deg);
}

.lectures__pagination {
  display: none;
  @include media(md) {
    display: flex;
    align-items: center;
    width: auto !important;
    margin: 0 20px;
  }
  @include media(sm) {
    display: none;
  }
  .swiper-pagination-bullet {
    background-color: transparent;
    font-weight: 500;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.3);
    opacity: 1;
    margin: 0 10px !important;
    width: auto;
    height: auto;
  }
  .swiper-pagination-bullet-active {
    color: #222;
  }
}

.lectures__wrapper {
  @include media(sm) {
    pointer-events: all;
  }
}

.lectures__slide {

}

.lectures__inner {
  display: flex;
  align-items: flex-start;
  @include media(sm) {
    flex-direction: column;
    align-items: center;
  }
}

.lectures__picture {
  display: flex;
  align-items: flex-end;
  width: 378px;
  margin-right: 27px;
  flex-shrink: 0;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 1px 17px 0 rgba(0, 0, 0, 0.08);
  @include media(md) {
    width: 315px;
    margin-right: 15px;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.08);
  }
  @include media(sm) {
    position: absolute;
    z-index: 1;
    margin-right: 0;
    top: -80px;
    width: 117px;
    height: 117px;
    border-radius: 50%;
    border: 2px solid #e3ebfe;
    display: flex;
    justify-content: center;
    box-shadow: none;
  }
}

.lectures__image {
  display: block;
  width: 100%;
  @include media(sm) {
    height: 100%;
  }
}

.lectures__box {
  flex-grow: 1;
  padding: 32px 38px 45px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 1px 17px 0 rgba(0, 0, 0, 0.08);
  @include media(lg) {
    padding: 25px 15px 28px;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.08);
  }
  @include media(sm) {
    padding: 53px 15px 32px;
  }
}

.lectures__name {
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 24px;
  line-height: 144%;
  @include media(md) {
    font-size: 20px;
    margin-bottom: 20px;
  }
  @include media(sm) {
    text-align: center;
  }
}

.lectures__list {
  list-style: none;
  padding: 0;
  margin-bottom: 32px;
  @include media(md) {
    margin-bottom: 20px;
  }
  li {
    position: relative;
    font-weight: 500;
    font-size: 17px;
    line-height: 144%;
    padding-left: 55px;
    @include media(md) {
      font-size: 14px;
      padding-left: 29px;
    }
    &::before {
      content: '';
      position: absolute;
      top: -1px;
      left: 0;
      width: 29px;
      height: 29px;
      @include media(md) {
        top: 0;
        width: 19px;
        height: 19px;
      }
    }
    &:not(:last-of-type) {
      margin-bottom: 16px;
      @include media(md) {
        margin-bottom: 15px;
      }
    }
  }
}

.lectures__list_hide {
  li:nth-child(n + 5) {
    display: none;
  }
  li:nth-child(4) {
    opacity: 0.18;
  }
  li:nth-child(3) {
    @include media(sm) {
      opacity: 0.18;
    }
  }
  li:nth-child(n + 4) {
    @include media(sm) {
      display: none;
    }
  }
}

.lectures__list_open {
  li:nth-child(n + 5) {
    display: block;
  }
  li:nth-child(4) {
    opacity: 1;
  }
  li:nth-child(n + 4) {
    @include media(sm) {
      display: block;
    }
  }
  li:nth-child(3) {
    @include media(sm) {
      opacity: 1;
    }
  }
}

.lectures__more {
  font-size: 13px;
  line-height: 154%;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #6594ff;
  border: none;
  background-color: transparent;
}

.lectures__tags {
  padding: 0;
  margin-top: 30px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 19px;
  @include media(md) {
    gap: 10px;
    margin-top: 25px;
  }
  @include media(sm) {
    margin-top: 20px;
  }
  li {
    padding: 10px 22px 11px;
    font-weight: 600;
    font-size: 13px;
    line-height: 144%;
    border-radius: 13px;
    @include media(md) {
      border-radius: 5px;
      font-size: 9px;
      padding: 9px 22px;
    }
  }
}
