.modal-external {
  display: none;
  max-width: 590px;
  border-radius: 10px;
  padding: 45px 50px 50px;
  @include media(sm) {
    border-radius: 5px;
    padding: 30px 15px;
  }
  .iti {
    margin-bottom: 30px;
    width: 100%;
    @include media(sm) {
      margin-bottom: 15px;
    }
  }
}

.modal-external__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 142%;
  text-align: center;
  color: #222;
  margin-bottom: 45px;
  @include media(sm) {
    font-size: 20px;
    margin-bottom: 20px;
  }
}

.modal-external__input {
  &:not(:last-of-type) {
    margin-bottom: 30px;
    @include media(sm) {
      margin-bottom: 15px;
    }
  }
}

.modal-external__checkbox {
  cursor: pointer;
  margin-top: 18px;
  display: flex;
  align-items: flex-start;
}

.modal-external__checkbox-input {
  display: none;
  &:checked ~ .modal-external__checkbox-view {
    &::before {
      content: '';
      border-radius: 1px;
      width: 8px;
      height: 8px;
      background-color: #ffca42;
    }
  }
}

.modal-external__checkbox-view {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  margin-right: 10px;
  border: 2px solid #e6e6e6;
  border-radius: 3px;
  width: 16px;
  height: 16px;
  margin-top: 3px;
}

.modal-external__checkbox-text {
  font-size: 14px;
  line-height: 144%;
  color: rgba(0, 0, 0, 0.75);
  a {
    color: rgba(0, 0, 0, 0.75);
    text-decoration: underline;
  }
}

.modal-external__button {
  display: block;
  width: 100%;
  margin-top: 25px;
  padding: 17px 28px;
  @include media(sm) {
    margin-top: 20px;
  }
}
