.predzaps-informer {
  border-radius: 10px;
  @include bgIcon('predzaps-informer/predzaps-informer-bg.svg');
  max-width: 457px;
  margin: 25px auto 0;
  padding: 20px 20px 12px;
  min-height: 99px;
  @include media(md) {
    margin: 25px auto 10px;
  }
  @include media(xs) {
    @include bgIcon('predzaps-informer/predzaps-informer-bg-mob.svg');
    background-size: cover;
    min-height: 134px;
    padding: 15px;
    max-width: 363px;
    margin: 25px auto -8px;
  }
}

.predzaps-informer__title {
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 18px;
  line-height: 103%;
  color: #222;
}

.predzaps-informer__area {
  display: flex;
  align-items: center;
  @include media(xs) {
    display: block;
  }
}

.predzaps-informer__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 144%;
  color: #222;
  span {
    display: inline-block;
    margin-left: 4px;
    font-weight: 500;
    font-size: 14px;
    line-height: 144%;
    color: #222;
    position: relative;
    z-index: 1;
    &::before {
      content: '';
      border-radius: 5px;
      background: #d5fbd7;
      position: absolute;
      z-index: -2;
      top: 2px;
      left: -4px;
      bottom: 0;
      right: -4px;
    }
  }
}

.predzaps-informer__button {
  display: inline-block;
  margin-left: 14px;
  border: 1px solid #222;
  border-radius: 41px;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  color: #222;
  padding: 6px 18px 8px;
  @include media(xs) {
    margin-left: 0;
    margin-top: 9px;
    display: inline-flex;
    align-items: center;
    &::after {
      content: '';
      @include bgIcon('icons/ic_arrow_btn_right_black.svg');
      width: 9px;
      height: 7px;
      flex-shrink: 0;
      margin-left: 8px;
    }
  }
}
