.predzaps-informer {
  border-radius: 10px;
  @include bgIcon('predzaps-informer/predzaps-informer-bg.svg');
  max-width: 514px;
  margin: 32px auto -18px;
  padding: 20px 20px 12px;
  min-height: 146px;
  @include media(md) {
    margin: 18px auto -5px;
    @include bgIcon('predzaps-informer/predzaps-informer-bg-mob.svg');
    background-size: cover;
    min-height: 129px;
    padding: 15px;
    max-width: 363px;
  }
  @include media(xs) {
    margin: 20px auto 39px;
    background-position: bottom right;
  }
}

.predzaps-informer__title {
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 18px;
  line-height: 103%;
  color: #222;
}

.predzaps-informer__area {

}

.predzaps-informer__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;
  color: #222;
  @include media(md) {
    font-size: 13px;
    line-height: 136%;
  }
  span {
    display: inline-block;
    margin-left: 0;
    margin-right: 4px;
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    color: #222;
    position: relative;
    z-index: 1;
    @include media(md) {
      font-size: 13px;
    }
    &::before {
      content: '';
      border-radius: 5px;
      background: #d5fbd7;
      position: absolute;
      z-index: -2;
      top: 2px;
      left: -4px;
      bottom: 0;
      right: -4px;
    }
  }
  b {
    font-weight: 500;
    @include media(md) {
      display: none;
    }
  }
  i {
    display: none;
    @include media(md) {
      display: inline;
      font-style: unset;
      font-weight: 500;
    }
  }
}

.predzaps-informer__button {
  display: inline-block;
  margin-top: 21px;
  border: 1px solid #222;
  border-radius: 41px;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  color: #222;
  padding: 6px 18px 8px;
  @include media(md) {
    margin-top: 14px;
    min-width: 118px;
    display: inline-flex;
    align-items: center;
    &::after {
      content: '';
      @include bgIcon('icons/ic_arrow_btn_right_black.svg');
      width: 9px;
      height: 7px;
      flex-shrink: 0;
      margin-left: 8px;
    }
  }
}
