.steps {
  position: relative;
  overflow: hidden;
  svg {
    width: 100%;
    height: 100%;
  }
}

.steps_blue {
  background-color: #f6faff;
  .rect {
    fill: #F6FAFF;
  }
  .circle-1, .circle-4 {
    fill: #E3EBFE;
  }
  .circle-2, .circle-3 {
    fill: #87A3E3;
  }
  .steps__box {
    border: 1px solid #e3ebfe;
  }
  .steps__form {
    border: 1px solid #e3ebfe;
  }
  .steps__form-box {
    background: #f6faff;
  }
}

.steps_green {
  background-color: #e7f9e8;
  .rect {
    fill: #e7f9e8;
  }
  .circle-1, .circle-4 {
    fill: #cbf1cc;
  }
  .circle-2, .circle-3 {
    fill: #aadfac;
  }
  .steps__box {
    border: 1px solid #e8f9e9;
  }
  .steps__form {
    border: 1px solid #e8f9e9;
  }
  .steps__form-box {
    background: #f7fdf7;
  }
}

.steps__bg {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  @include media(lg) {
    display: none;
  }
}

.steps__title {
  text-align: center;
}

.steps__area {
  display: flex;
  gap: 53px 0;
  flex-wrap: wrap;
  justify-content: space-between;
  @include media(lg) {
    gap: 20px 0;
  }
  @include media(sm) {
    flex-direction: column;
    gap: 25px 0;
  }
}

.steps__box {
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 1px 17px 0 rgba(0, 0, 0, 0.08);
  background: #fff;
  padding: 26px 60px 26px 170px;
  width: calc(50% - 46px);
  @include media(lg) {
    padding: 22px 6px 22px 78px;
    width: calc(50% - 10px);
  }
  @include media(sm) {
    width: 100%;
  }
  p {
    margin: 0;
    font-weight: 500;
    font-size: 17px;
    line-height: 144%;
    @include media(lg) {
      font-size: 14px;
    }
  }
  &:nth-child(odd) {
    position: relative;
    &::before {
      content: '';
      width: 80px;
      height: 14px;
      @include bgIcon('steps/steps-line.svg');
      position: absolute;
      top: 50%;
      right: -85px;
      transform: translateY(-50%);
      @include media(lg) {
        content: none;
      }
    }
  }
  &:nth-child(even):not(:last-of-type) {
    &::before {
      content: '';
      width: 104px;
      height: 18px;
      @include bgIcon('steps/steps-line.svg');
      position: absolute;
      bottom: -36px;
      left: -96px;
      transform: rotate(-36deg);
      @include media(lg) {
        content: none;
      }
    }
  }
}

.steps__number {
  width: 111px;
  height: 131px;
  display: flex;
  justify-content: center;
  position: absolute;
  left: 40px;
  top: 50%;
  transform: translate(0, -50%);
  @include media(lg) {
    width: 52px;
    height: 60px;
    left: 14px;
  }
}

.steps__doc {
  display: none;
  position: relative;
  margin-top: 114px;
  border-radius: 16px;
  box-shadow: 0 1px 17px 0 rgba(0, 0, 0, 0.08);
  background: #fff;
  padding: 30px 341px 30px 73px;
  align-items: center;
  @include media(lg) {
    display: flex;
    padding: 35px 173px 35px 35px;
    margin-top: 20px;
  }
  @include media(sm) {
    padding: 30px 25px 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.steps__doc-title {
  margin-right: 26px;
  max-width: 510px;
  font-weight: 700;
  font-size: 24px;
  line-height: 142%;
  color: #222;
  @include media(lg) {
    max-width: 100%;
    font-weight: 600;
    font-size: 20px;
    line-height: 144%;
    color: #000;
  }
  @include media(sm) {
    margin-bottom: 20px;
    text-align: center;
    margin-right: 0;
  }
}

.steps__doc-button {
  margin-left: auto;
  min-width: 246px;
  text-align: center;
  padding: 17px 28px;
  @include media(lg) {
    min-width: 206px;
    padding: 14px 28px;
  }
  @include media(sm) {
    margin-left: 0;
    width: 100%;
  }
}

.steps__doc-picture {
  position: absolute;
  top: -85px;
  right: 10px;
  width: 234px;
  height: 270px;
  transform: rotate(38deg);
  @include media(lg) {
    top: -2px;
    width: 120px;
    height: 139px;
  }
  @include media(sm) {
    position: static;
    width: 193px;
    height: 223px;
    margin-bottom: 20px;
  }
}

.steps__doc-image {
  width: 100%;
  height: 100%;
}

.steps__form {
  position: relative;
  margin-top: 54px;
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 1px 17px 0 rgba(0, 0, 0, 0.08);
  background: #fff;
  min-height: 732px;
  overflow: hidden;
  @include media(lg) {
    display: none;
  }
}

.steps__form-title {
  max-width: 725px;
  margin: 0 auto 50px;
  text-align: center;
  line-height: 142%;
}

.steps__form-picture {
  position: absolute;
  bottom: -170px;
  left: 3px;
  transform: rotate(38deg);
  width: 623px;
  height: 720px;
}

.steps__form-image {
  width: 100%;
  height: 100%;
}

.steps__form-box {
  padding: 45px;
  width: 563px;
  margin-left: auto;
  border: 1px solid #e3ebfe;
  border-radius: 11px;
  background: #f6faff;
}

.steps__form-input {
  background-color: transparent;
  &:not(:last-of-type) {
    margin-bottom: 30px;
    @include media(sm) {
      margin-bottom: 15px;
    }
  }
}

.steps__form-button {
  display: block;
  width: 100%;
  margin-top: 40px;
  padding: 17px 28px;
  font-size: 18px;
  @include media(sm) {
    margin-top: 20px;
  }
  &:focus {
    box-shadow: none;
  }
}

.steps__form-note {
  font-size: 15px;
  line-height: 144%;
  text-align: center;
  color: rgba(0, 0, 0, 0.75);
  max-width: 370px;
  margin: 30px auto 0;
  @include media(sm) {
    margin: 15px auto 0;
  }
}
