.two-teachers {

}

.two-teachers_blue {
  background-color: $blue;
  .two-teachers__box {
    &:nth-child(2) {
      &::before, &::after {
        @include bgIcon('two-teachers/two-teachers-line.svg');
      }
    }
  }
  .two-teachers__inner, .two-teachers__image {
    border: 1px solid #e3ebfe;
  }
}

.two-teachers_green {
  background-color: $green;
  .two-teachers__box {
    &:nth-child(2) {
      &::before, &::after {
        @include bgIcon('two-teachers/two-teachers-line_green.svg');
      }
    }
  }
  .two-teachers__inner, .two-teachers__image {
    border: 1px solid #d4eed6;
  }
}

.two-teachers_violet {
  background-color: $violet;
  .two-teachers__box {
    &:nth-child(2) {
      &::before, &::after {
        @include bgIcon('two-teachers/two-teachers-line_violet.svg');
      }
    }
  }
  .two-teachers__inner, .two-teachers__image {
    border: 1px solid #e9e5f6;
  }
}

.two-teachers__title {
  margin-bottom: 37px;
  @include media(lg) {
    margin-bottom: 12px;
  }
  @include media(xs) {
    margin-bottom: 18px;
  }
}

.two-teachers__text {
  text-align: center;
  font-size: 15px;
  line-height: 144%;
  &:first-of-type {
    @include media(xs) {
      margin-bottom: 15px;
    }
  }
}

.two-teachers__area {
  margin-top: 63px;
  display: flex;
  justify-content: space-between;
  @include media(lg) {
    max-width: 700px;
    width: 100%;
    margin: 75px auto 0;
  }
  @include media(xs) {
    flex-direction: column;
    max-width: 370px;
    margin: 70px auto 0;
  }
}

.two-teachers__box {
  max-width: 407px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include media(lg) {
    max-width: 204px;
  }
  @include media(xs) {
    flex-direction: row;
    align-items: center;
    max-width: 100%;
    gap: 0 34px;
  }
  &:not(:last-child) {
    @include media(xs) {
      margin-bottom: 52px;
    }
  }
  &:nth-child(2) {
    position: relative;
    @include media(lg) {
      max-width: 228px;
    }
    @include media(xs) {
      max-width: 100%;
      flex-direction: row-reverse;
      margin-bottom: 68px;
    }
    &::before, &::after {
      content: '';
      position: absolute;
      top: 60px;
      width: 152px;
      height: 69px;
      @include media(lg) {
        top: 45px;
        width: 86px;
        height: 39px;
      }
    }
    &::before {
      transform: rotate(147deg);
      left: -100px;
      @include media(lg) {
        left: -52px;
      }
      @include media(xs) {
        left: 145px;
        top: -59px;
        transform: rotate(193deg);
      }
    }
    &::after {
      transform: scale(1, -1) rotate(-33deg);
      right: -100px;
      @include media(lg) {
        right: -52px;
      }
      @include media(xs) {
        left: 144px;
        top: 154px;
        transform: rotate(-63deg);
      }
    }
  }
}

.two-teachers__image {
  margin-bottom: -8px;
  width: 225px;
  height: 230px;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
  @include media(lg) {
    border-radius: 6px 6px 0 0;
    width: 140px;
    height: 143px;
  }
  @include media(xs) {
    width: 133px;
    height: 136px;
  }
}

.two-teachers__inner {
  box-shadow: 0 1px 17px 0 rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  font-size: 17px;
  line-height: 144%;
  padding: 23px;
  text-align: center;
  background-color: #ffffff;
  @include media(lg) {
    border-radius: 6px;
    text-align: left;
    font-size: 14px;
    padding: 10px 15px;
  }
  @include media(xs) {
    padding: 10px 13px;
    line-height: 130%;
  }
  span {
    font-weight: 600;
    @include media(lg) {
      display: block;
    }
  }
}
