extends ../components/_layout/layout

block head
  +title('Страница курса синяя')

block body
  include ../components/cap-course
  +cap-course('cap-course_blue')
  include ../components/points
  +points('Увлечём с первого урока',
    ['Объясним любую тему простым языком', 'Добьёмся понимания без зубрёжки',
      'Ответим на все вопросы по предмету', 'Бережно укажем на ошибки и поможем их исправить',
      'Вернём интерес к учёбе', 'Найдём подход к ребёнку любого уровня подготовки'], 'points_fill-blue')
  include ../components/study
  +study('blue')
  include ../components/schedul
  include ../components/lectures_single
  +lectures_single('lectures_blue')
  include ../components/cost
  +cost('blue', 'Стоимость обучения',['Пробная неделя','Занятия онлайн + в записи ','Занятия в записи'],'Рассрочка на 7 месяцев без переплат')
  +cost('blue', 'Стоимость обучения',['Пробная неделя','Занятия онлайн + в записи ','Занятия в записи'],'Скидка <span>15%</span> при покупке в рассрочку на 7 месяцев','– 30%')
  +cost('blue', 'Стоимость обучения',['Пробная неделя','Занятия онлайн + в записи ','Занятия в записи'],'Скидка <span>50%</span> на первый платёж в рассрочку','– 15%', 'далее 6 x 7 002 ₽ платежей')
  +cost('blue', 'Стоимость обучения',['Пробная неделя','Занятия онлайн + в записи ','Занятия в записи'],'Скидка <span>7 352 ₽</span> при покупке в рассрочку на 7 месяцев','– 14 705 ₽')
  +cost('blue', 'Стоимость обучения',['Пробная неделя','Занятия онлайн + в записи ','Занятия в записи'],'Скидка <span>2 000 ₽</span> на первый платёж в рассрочку','- 5 000 ₽', 'далее 6 x 5 490 ₽ платежей ')
  include ../components/capital
  +capital('blue')
  include ../components/contacts
  +contacts('blue')
  include ../components/btn-fixed
  +btn-fixed('Получить консультацию',400,1700)
  include ../components/modals/modal-order
