extends ../components/_layout/layout

block head
  +title('Страница курса фиолетовая')

block body
  include ../components/cap-course
  +cap-course('cap-course_violet')
  include ../components/points
  +points('С нами у Вас всё-всё получится!',
    ['Научим решать задания 1 и 2 части', 'Поможем исправить ошибки',
      'Добьёмся понимания без зубрёжки', 'Разберём все тонкости экзамена',
      'Отследим прогресс по «пробникам»', 'Подготовим на высокий балл'], 'points_fill-violet')
  include ../components/study
  +study('blue')
  include ../components/schedul
  include ../components/lectures_single
  +lectures_single('lectures_violet')
  include ../components/price
  +price('violet-block', 'Стоимость годового абонемента')
  include ../components/capital
  +capital('violet')
  include ../components/contacts
  +contacts('violet')
  include ../components/btn-fixed
  +btn-fixed('Получить консультацию',400,1700)
  include ../components/modals/modal-order
