extends ../components/_layout/layout

block head
  +title('Страница курса фиолетовая')

block body
  include ../components/offer-teacher
  +offer-teacher('Математика по программе М. И. Моро «Школа России» Математика по программе М.')
  include ../components/lectures_single
  +lectures_single('lectures_violet')
