extends ../components/_layout/layout

block head
  +title('Страница курса синяя')

block body
  include ../components/cap-course
  +cap-course('cap-course_blue')
  include ../components/schedul
  include ../components/lectures_single
  +lectures_single('lectures_blue')
