extends ../components/_layout/layout

block head
  +title('Страница курса фиолетовая')

block body
  include ../components/cap-course
  +cap-course('cap-course_violet')
  include ../components/lectures_single
  +lectures_single('lectures_violet')
