extends ../components/_layout/layout

block head
  +title('Страница курса зелёная')

block body
  include ../components/cap-course
  +cap-course('cap-course_green', 'Курс по химии')
  include ../components/lectures_single
  +lectures_single('lectures_green')
