extends ../components/_layout/layout

block head
  +title('Страница курса зелёная')

block body
  include ../components/cap-course
  +cap-course('cap-course_green', 'Курс по химии <span>(в записи)</span>')
  include ../components/points
  +points('Увлечём с первого урока',
    ['Объясним любую тему простым языком', 'Ответим на все вопросы по предмету',
      'Найдём подход к ребёнку любого уровня подготовки', 'Добьёмся понимания без зубрёжки',
      'Поможем исправить ошибки', 'Вернём интерес к учёбе и чувство победителя'], 'points_fill-green')
  include ../components/study
  +study('greens')
  include ../components/schedul
  include ../components/lectures_single
  +lectures_single('lectures_green')
  include ../components/cost
  +cost('green', 'Стоимость обучения',['Пробная неделя', 'Занятия онлайн + в записи ', 'Занятия в записи'],'Рассрочка на 7 месяцев без переплат')
  +cost('green', 'Стоимость обучения',['Пробная неделя', 'Занятия онлайн + в записи ', 'Занятия в записи'],'Скидка <span>15%</span> при покупке в рассрочку на 7 месяцев','– 30%')
  +cost('green', 'Стоимость обучения',['Пробная неделя', 'Занятия онлайн + в записи ', 'Занятия в записи'],'Скидка <span>50%</span> на первый платёж в рассрочку','– 15%', 'далее 6 x 7 002 ₽ платежей')
  +cost('green', 'Стоимость обучения',['Пробная неделя', 'Занятия онлайн + в записи ', 'Занятия в записи'],'Скидка <span>7 352 ₽</span> при покупке в рассрочку на 7 месяцев','– 14 705 ₽')
  +cost('green', 'Стоимость обучения',['Пробная неделя', 'Занятия онлайн + в записи ', 'Занятия в записи'],'Скидка <span>2 000 ₽</span> на первый платёж в рассрочку','- 5 000 ₽', 'далее 6 x 5 490 ₽ платежей ')
  include ../components/capital
  +capital('green')
  include ../components/contacts
  +contacts('green')
  include ../components/btn-fixed
  +btn-fixed('Получить консультацию',400,1700)
  include ../components/modals/modal-order
