extends ../components/_layout/layout

block head
  +title('Страница курса зелёная')

block body
  include ../components/cap-course
  +cap-course('cap-course_green', 'Курс по химии <span>(в записи)</span>')
  include ../components/points
  +points('Увлечём с первого урока',
    ['Объясним любую тему простым языком', 'Ответим на все вопросы по предмету',
      'Найдём подход к ребёнку любого уровня подготовки', 'Добьёмся понимания без зубрёжки',
      'Поможем исправить ошибки', 'Вернём интерес к учёбе и чувство победителя'], 'points_fill-green')
  include ../components/study
  +study('greens')
  include ../components/schedul
  include ../components/lectures_single
  +lectures_single('lectures_green')
  include ../components/cost
  +cost('green', 'cost_1')
  +cost('green', 'cost_2')
  +cost('green', 'cost_3')
  +cost('green', 'cost_4')
  +cost('green', 'cost_5')
  include ../components/capital
  +capital('green')
  include ../components/contacts
  +contacts('green')
  include ../components/btn-fixed
  +btn-fixed('Получить консультацию',400,1700)
  include ../components/modals/modal-order
