extends ../components/_layout/layout

block head
  +title('Экстернат')

block body
  include ../components/cap
  +cap('cap_blue')
  include ../components/line-info
  +line-info('line-info_blue')
  include ../components/education
  +education('blue')
  include ../components/attach
  +attach('blue')
  include ../components/program
  +program('program_blue')
  include ../components/lectures
  +lectures('lectures_blue')
  include ../components/informer
  +informer('informer_blue')
  include ../components/steps
  +steps('steps_blue')
  include ../components/certificate
  +certificate('certificate_blue')
  include ../components/price
  +price('')
  include ../components/consult
  +consult('consult_blue')
  include ../components/reviews
  +reviews('blue')
  include ../components/questions
  +questions('blue')
  include ../components/licence
  +licence('')
  include ../components/page-end
  +page-end('')
  include ../components/modals/modal-external
