extends ../components/_layout/layout

block head
  +title('Экстернат')

block body
  include ../components/cap
  +cap('cap_blue')
  include ../components/line-info
  +line-info('line-info_blue')
  include ../components/points
  +points(' Выбирайте экстернат, чтобы:',
    ['Забыть о буллинге и нездоровой атмосфере в школе', 'Учиться, исходя из уровня подготовки ребёнка',
      'Получить больше времени для развития, спорта и других увлечений', 'Уделять больше внимания приоритетным предметам',
      'Пройти школьную программу за 1-3 урока в день', 'Не идти в школу по месту жительства из-за отсутствия альтернативы, а учиться с лучшими учителями РФ'],
    'points_blue')
  include ../components/education
  +education('blue')
  include ../components/attach
  +attach('blue')
  include ../components/program
  +program('program_blue')
  include ../components/schedule
  +schedule('schedule_blue')
  include ../components/lectures
  +lectures('lectures_blue')
  include ../components/informer
  +informer('informer_blue')
  include ../components/steps
  +steps('steps_blue')
  include ../components/certificate
  +certificate('certificate_blue')
  include ../components/cost
  +cost('blue', 'cost_external')
  include ../components/capital
  +capital('blue')
  include ../components/contacts
  +contacts('blue')
  include ../components/reviews
  +reviews('blue')
  include ../components/questions
  +questions('blue')
  include ../components/page-end
  +page-end('')
  include ../components/modals/modal-external
  include ../components/btn-fixed
  +btn-fixed('Получить консультацию',400,1700)
  include ../components/modals/modal-order
