extends ../components/_layout/layout

block head
  +title('Экстернат зелёный')

block body
  include ../components/cap
  +cap('cap_green')
  include ../components/line-info
  +line-info('line-info_green')
  include ../components/education
  +education('green')
  include ../components/attach
  +attach('green')
  include ../components/program
  +program('program_green')
  include ../components/schedule
  +schedule('schedule_green')
  include ../components/lectures
  +lectures('lectures_green')
  include ../components/informer
  +informer('informer_green')
  include ../components/steps
  +steps('steps_green')
  include ../components/certificate
  +certificate('certificate_green')
  include ../components/price
  +price('green-list')
  include ../components/consult
  +consult('consult_green')
  include ../components/reviews
  +reviews('greens')
  include ../components/questions
  +questions('greens')
  include ../components/licence
  +licence('green-block')
  include ../components/page-end
  +page-end('')
  include ../components/modals/modal-external
