extends ../components/_layout/layout

block head
  +title('Экстернат зелёный')

block body
  include ../components/cap
  +cap('cap_green')
  include ../components/line-info
  +line-info('line-info_green')
  include ../components/points
  +points(' Выбирайте экстернат, чтобы:',
    ['Забыть о буллинге и нездоровой атмосфере в школе', 'Учиться, исходя из уровня подготовки ребёнка',
      'Получить больше времени для развития, спорта и других увлечений', 'Уделять больше внимания приоритетным предметам',
      'Пройти школьную программу за 1-3 урока в день', 'Не идти в школу по месту жительства из-за отсутствия альтернативы, а учиться с лучшими учителями РФ'],
    'points_green')
  include ../components/education
  +education('green')
  include ../components/attach
  +attach('green')
  include ../components/program
  +program('program_green')
  include ../components/schedule
  +schedule('schedule_green')
  include ../components/lectures
  +lectures('lectures_green')
  include ../components/informer
  +informer('informer_green')
  include ../components/steps
  +steps('steps_green')
  include ../components/certificate
  +certificate('certificate_green')
  include ../components/price
  +price('green-list')
  include ../components/capital
  +capital('green')
  include ../components/contacts
  +contacts('green', 'contacts/contacts-1_green.svg')
  include ../components/reviews
  +reviews('greens')
  include ../components/questions
  +questions('greens')
  include ../components/page-end
  +page-end('')
  include ../components/modals/modal-external
  include ../components/btn-fixed
  +btn-fixed('Получить консультацию',400,1700)
  include ../components/modals/modal-order
