extends ../components/_layout/layout

block head
  +title('Экстернат')

block body
  include ../components/cap
  include ../components/line-info
  include ../components/education
  include ../components/program
  include ../components/lectures
  include ../components/informer
  include ../components/steps
  include ../components/certificate
  include ../components/price
  include ../components/consult
  include ../components/reviews
  include ../components/questions
  include ../components/license
  include ../components/page-end
  include ../components/modals/modal-external
