extends ../components/_layout/layout-small

block head
  +title('Семейное обучение')

block body
  include ../components/family/family-cap
  include ../components/family/family-stats
  include ../components/family/family-reason
  include ../components/family/family-info
  include ../components/family/family-consult
  include ../components/family/family-order
  include ../components/family/family-bonus
