extends ../components/_layout/layout

block head
  +title('Точка знаний')

block body
  include ../components/primary-offer
  include ../components/direction
  include ../components/classes
  include ../components/numbers
