extends ../components/_layout/layout

block head
  +title('Средняя школа')

block body
  include ../components/primary-secondary
  include ../components/learn-secondary
  include ../components/two-teachers
  +two-teachers('two-teachers_green')
