extends ../components/_layout/layout

block head
  +title('Старшая школа')

block body
  include ../components/primary-high
  include ../components/learn-high
  include ../components/two-teachers
  +two-teachers('two-teachers_violet')
