extends ../components/_layout/layout

block head
  +title('Скачивайте руководство «Как мотивировать ребёнка учиться»')

block body
  include ../components/family-thanks
  +family-thanks('motivation')
