section.about
  .container
    h2
      | &Ocy;&ncy;&lcy;&acy;&jcy;&ncy;-&shcy;&kcy;&ocy;&lcy;&acy;,
      span &vcy; &kcy;&ocy;&tcy;&ocy;&rcy;&ucy;&yucy; &Vcy;&ycy; &vcy;&lcy;&yucy;&bcy;&icy;&tcy;&iecy;&scy;&softcy;
    .about-block.d-flex.flex-wrap
      .about-blk
        .about-content
          span &Ncy;&acy;&ucy;&chcy;&icy;&mcy; &pcy;&ocy;&ncy;&icy;&mcy;&acy;&tcy;&softcy;, &acy; &ncy;&iecy; &zcy;&ucy;&bcy;&rcy;&icy;&tcy;&softcy;
          p
            | &Icy;&zcy;&ucy;&chcy;&iecy;&ncy;&icy;&iecy; &kcy;&acy;&zhcy;&dcy;&ocy;&jcy; &tcy;&iecy;&mcy;&ycy; &ncy;&acy;&chcy;&icy;&ncy;&acy;&iecy;&tcy;&scy;&yacy; &scy; &bcy;&acy;&zcy;&ocy;&vcy;&ycy;&khcy; &pcy;&ocy;&ncy;&yacy;&tcy;&icy;&jcy;. &Mcy;&acy;&tcy;&iecy;&rcy;&icy;&acy;&lcy; &pcy;&ocy;&jcy;&mcy;&iocy;&tcy; &ucy;&chcy;&iecy;&ncy;&icy;&kcy; &scy; &lcy;&yucy;&bcy;&ycy;&mcy; &ucy;&rcy;&ocy;&vcy;&ncy;&iecy;&mcy; &zcy;&ncy;&acy;&ncy;&icy;&jcy;.
          p
            | &Dcy;&ocy;&kcy;&acy;&zcy;&ycy;&vcy;&acy;&iecy;&mcy;, &pcy;&ocy;&kcy;&acy;&zcy;&ycy;&vcy;&acy;&iecy;&mcy; &ncy;&acy; &pcy;&rcy;&acy;&kcy;&tcy;&icy;&kcy;&iecy; &pcy;&rcy;&acy;&vcy;&icy;&lcy;&acy;, &fcy;&ocy;&rcy;&mcy;&ucy;&lcy;&ycy; &icy; &tcy;&iecy;&ocy;&rcy;&iecy;&mcy;&ycy;. &Ncy;&acy;&khcy;&ocy;&dcy;&icy;&mcy; &icy;&khcy; &pcy;&rcy;&icy;&mcy;&iecy;&ncy;&iecy;&ncy;&icy;&iecy; &vcy; &zhcy;&icy;&zcy;&ncy;&icy; &tcy;&acy;&kcy;, &chcy;&tcy;&ocy;&bcy;&ycy; &rcy;&iecy;&bcy;&iocy;&ncy;&ocy;&kcy; &pcy;&ocy;&ncy;&yacy;&lcy;, &acy; &ncy;&iecy; &ldquo;&zcy;&acy;&zcy;&ucy;&bcy;&rcy;&icy;&lcy;&rdquo;.
        .about-image
          img(src='assets/img/about-icon1.webp' width='288' alt='')
          img(src='assets/img/about-icon1-mb.webp' alt='')
      .about-blk
        .about-content
          span &Ucy;&chcy;&icy;&tcy;&iecy;&lcy;&yacy; &mdash; &lcy;&ucy;&chcy;&shcy;&icy;&iecy; &vcy; &scy;&vcy;&ocy;&iocy;&mcy; &dcy;&iecy;&lcy;&iecy;
          p
            | &Ncy;&acy;&shcy;&icy; &pcy;&rcy;&iecy;&pcy;&ocy;&dcy;&acy;&vcy;&acy;&tcy;&iecy;&lcy;&icy; &mdash; &pcy;&ocy;&bcy;&iecy;&dcy;&icy;&tcy;&iecy;&lcy;&icy; &pcy;&rcy;&ocy;&fcy;&iecy;&scy;&scy;&icy;&ocy;&ncy;&acy;&lcy;&softcy;&ncy;&ycy;&khcy; &kcy;&ocy;&ncy;&kcy;&ucy;&rcy;&scy;&ocy;&vcy;: &laquo;&Ucy;&chcy;&icy;&tcy;&iecy;&lcy;&softcy; &gcy;&ocy;&dcy;&acy;&raquo;, &laquo;&Mcy;&ocy;&icy; &icy;&ncy;&ncy;&ocy;&vcy;&acy;&tscy;&icy;&icy; &vcy; &ocy;&bcy;&rcy;&acy;&zcy;&ocy;&vcy;&acy;&ncy;&icy;&icy;&raquo; &icy; &dcy;&rcy;&ucy;&gcy;&icy;&khcy;.
        .about-image
          img(src='assets/img/about-icon2.webp' width='397' alt='')
          img(src='assets/img/about-icon2-mb.webp' alt='')
      .about-blk
        .about-content
          span &Scy; &rcy;&iecy;&bcy;&iocy;&ncy;&kcy;&ocy;&mcy; &zcy;&acy;&ncy;&icy;&mcy;&acy;&yucy;&tcy;&scy;&yacy; &scy;&rcy;&acy;&zcy;&ucy; 2 &pcy;&iecy;&dcy;&acy;&gcy;&ocy;&gcy;&acy;
          p
            | &Ucy;&chcy;&icy;&tcy;&iecy;&lcy;&softcy; &ocy;&bcy;&hardcy;&yacy;&scy;&ncy;&icy;&tcy; &tcy;&iecy;&mcy;&ucy; &ncy;&acy; &ucy;&rcy;&ocy;&kcy;&iecy;, &tcy;&softcy;&yucy;&tcy;&ocy;&rcy; -&pcy;&rcy;&ocy;&vcy;&iecy;&rcy;&icy;&tcy; &zcy;&acy;&dcy;&acy;&ncy;&icy;&iecy; &icy; &pcy;&ocy;&mcy;&ocy;&zhcy;&iecy;&tcy; &icy;&scy;&pcy;&rcy;&acy;&vcy;&icy;&tcy;&softcy; &ocy;&shcy;&icy;&bcy;&kcy;&icy;.
          p
            | &Tcy;&acy;&kcy; &mcy;&ycy; &dcy;&ocy;&bcy;&icy;&vcy;&acy;&iecy;&mcy;&scy;&yacy; &pcy;&ocy;&ncy;&icy;&mcy;&acy;&ncy;&icy;&iecy; &mcy;&acy;&tcy;&iecy;&rcy;&icy;&acy;&lcy;&acy; &icy; &vcy;&iecy;&rcy;&ncy;&ocy;&gcy;&ocy; &vcy;&ycy;&pcy;&ocy;&lcy;&ncy;&iecy;&ncy;&icy;&yacy; &zcy;&acy;&dcy;&acy;&ncy;&icy;&jcy;. &CHcy;&tcy;&ocy; &pcy;&rcy;&icy;&vcy;&iecy;&dcy;&iocy;&tcy; &kcy; &ocy;&tcy;&lcy;&icy;&chcy;&ncy;&ycy;&mcy; &ocy;&tscy;&iecy;&ncy;&kcy;&acy;&mcy; &icy; &icy;&ncy;&tcy;&iecy;&rcy;&iecy;&scy;&ucy; &kcy; &ucy;&chcy;&iocy;&bcy;&iecy;.
        .about-image
          img(src='assets/img/about-icon3.webp' width='240' alt='')
          img(src='assets/img/about-icon3-mb.webp' alt='')
      .about-blk
        .about-content
          span &Pcy;&iecy;&rcy;&scy;&ocy;&ncy;&acy;&lcy;&softcy;&ncy;&ycy;&jcy; &tcy;&softcy;&yucy;&tcy;&ocy;&rcy; &vcy;&scy;&iecy;&gcy;&dcy;&acy; &ncy;&acy; &scy;&vcy;&yacy;&zcy;&icy;
          p
            | &Pcy;&rcy;&ocy;&vcy;&iecy;&rcy;&icy;&tcy; &zcy;&acy;&dcy;&acy;&ncy;&icy;&iecy;, &pcy;&ocy;&mcy;&ocy;&zhcy;&iecy;&tcy; &icy;&scy;&pcy;&rcy;&acy;&vcy;&icy;&tcy;&softcy; &ocy;&shcy;&icy;&bcy;&kcy;&icy; &icy; &ocy;&bcy;&hardcy;&yacy;&scy;&ncy;&icy;&tcy; &ncy;&iecy;&pcy;&ocy;&ncy;&yacy;&tcy;&ncy;&ycy;&iecy; &mcy;&ocy;&mcy;&iecy;&ncy;&tcy;&ycy;. 5 &dcy;&ncy;&iecy;&jcy; &vcy; &ncy;&iecy;&dcy;&iecy;&lcy;&yucy;.
          p
            | &Tcy;&softcy;&yucy;&tcy;&ocy;&rcy; &ndash; &ocy;&pcy;&ycy;&tcy;&ncy;&ycy;&jcy; &pcy;&iecy;&dcy;&acy;&gcy;&ocy;&gcy; &pcy;&ocy; &vcy;&ycy;&bcy;&rcy;&acy;&ncy;&ncy;&ocy;&mcy;&ucy; &pcy;&rcy;&iecy;&dcy;&mcy;&iecy;&tcy;&ucy;. &Scy;&rcy;&iecy;&dcy;&icy; &ncy;&acy;&shcy;&icy;&khcy; &tcy;&softcy;&yucy;&tcy;&ocy;&rcy;&ocy;&vcy; &kcy;&acy;&ncy;&dcy;&icy;&dcy;&acy;&tcy;&ycy; &ncy;&acy;&ucy;&kcy;, &ecy;&kcy;&scy;&pcy;&iecy;&rcy;&tcy;&ycy; &Ocy;&Gcy;&Ecy; &icy; &IEcy;&Gcy;&Ecy;.
        .about-image
          img(src='assets/img/about-icon4.webp' width='263' alt='')
          img(src='assets/img/about-icon4-mb.webp' alt='')
