.cap-teacher
  .container
    .cap-teacher__wrap
      .cap-teacher__area
        .cap-teacher__box
          h1.cap-teacher__caption.caption Курс по проверке 2-ой части ЕГЭ по&nbsp;профильной математике
          .cap-teacher__note «Проверяй как эксперт»
          .cap-teacher__text.
            Узнайте всё о критериях оценивания и проверке работ экзамена,
            чтобы ученики сдавали “профиль” на высокий балл.
          .cap-teacher__btns
            a.cap-teacher__button.btn-warning.anchor(href='#block1') Начать обучение
            .cap-teacher__teacher
              span Георгий Игоревич Вольфсон
              |
              | Председатель экспертной комиссии по проверке ЕГЭ(с 2018 по 2022 год)
        picture.cap-teacher__picture
          img.cap-teacher__image(src=staticImg('cap-teacher/cap-teacher.png') alt='')
