.cap.cap_blue
  .container
    .cap__area
      img.cap__decor.cap__decor_external-1(src=staticImg('cap/cap-decor-external-1.svg') alt='')
      img.cap__decor.cap__decor_external-2(src=staticImg('cap/cap-decor-external-2.svg') alt='')
      .cap__box
        .cap__tag.teacher-class 1 класс
        h1.cap__title Экстернат
        picture.cap__picture
          source(srcset=staticImg('cap/cap-external_278.svg') media="(max-width: 992px)")
          img.cap__image(src=staticImg('cap/cap-external.svg') alt='')
      .cap__text.
        Получайте школьное образование дома. Онлайн. С лучшими учителями РФ, внимательными тьюторам и аттестацией.
      a.cap__button.anchor.btn.btn-warning.btn-starts(href='#block1') Начать обучение
