.capital
  .container
    .capital__area
      img.capital__image(src=staticImg('capital/capital-decor.svg') alt='')
      .capital__box
        h2.capital__title Оплачивайте обучение материнским капиталом
        .capital__line
          .capital__text Поможем со списком документов и остальными вопросами
          a.capital__link(href='#') Перейти к оформлению
