.certificate
  .container
    .certificate__area
      h2.certificate__title.title Какие документы получит ребёнок в конце учебного года?
      .certificate__box
        picture.certificate__picture
          img.certificate__image(src=staticImg('certificate/certificate.png') alt='')
        p.certificate__text
          | После прохождения аттестации (выполнения контрольных
          | работ) ребёнок получит аттестационный лист с оценками
          | по каждому предмету от нашей
          |
          a(href='#' target='_blank') школы-партнёра
          |
          | (гимназия
          | «Суханово», Московская область, ОГРН: 1205000076710).
