.concept
  .container
    .d-flex.align-items-end
      blockquote
        p
          | &Scy;&acy;&mcy;&acy;&yacy; &scy;&icy;&lcy;&softcy;&ncy;&acy;&yacy; &chcy;&iecy;&rcy;&tcy;&acy; &ncy;&acy;&shcy;&iecy;&jcy; &shcy;&kcy;&ocy;&lcy;&ycy; &mdash; &ucy;&mcy;&iecy;&ncy;&icy;&iecy; &ocy;&bcy;&hardcy;&yacy;&scy;&ncy;&yacy;&tcy;&softcy; &lcy;&yucy;&bcy;&ucy;&yucy;, &dcy;&acy;&zhcy;&iecy; &scy;&acy;&mcy;&ucy;&yucy; &scy;&lcy;&ocy;&zhcy;&ncy;&ucy;&yucy; &tcy;&iecy;&mcy;&ucy;, &pcy;&rcy;&ocy;&scy;&tcy;&ycy;&mcy; &yacy;&zcy;&ycy;&kcy;&ocy;&mcy;.
        p
          | &Tcy;&acy;&kcy;, &chcy;&tcy;&ocy;&bcy;&ycy; &pcy;&ocy;&scy;&lcy;&iecy; &ucy;&rcy;&ocy;&kcy;&acy; &kcy;&acy;&zhcy;&dcy;&ycy;&jcy; &ucy;&chcy;&iecy;&ncy;&icy;&kcy; &mcy;&ocy;&gcy; &scy;&acy;&mcy;&ocy;&scy;&tcy;&ocy;&yacy;&tcy;&iecy;&lcy;&softcy;&ncy;&ocy; &vcy;&ycy;&pcy;&ocy;&lcy;&ncy;&icy;&tcy;&softcy; &zcy;&acy;&dcy;&acy;&ncy;&icy;&iecy; &icy; &ucy;&lcy;&ucy;&chcy;&shcy;&icy;&tcy;&softcy; &ocy;&tscy;&iecy;&ncy;&kcy;&icy;. &Icy;&mcy;&iecy;&ncy;&ncy;&ocy; &pcy;&ocy;&ecy;&tcy;&ocy;&mcy;&ucy; &ncy;&acy;&mcy; &dcy;&ocy;&vcy;&iecy;&rcy;&yacy;&yucy;&tcy; &tcy;&acy;&kcy; &mcy;&ncy;&ocy;&gcy;&ocy; &shcy;&kcy;&ocy;&lcy;&softcy;&ncy;&icy;&kcy;&ocy;&vcy; &icy; &icy;&khcy; &rcy;&ocy;&dcy;&icy;&tcy;&iecy;&lcy;&iecy;&jcy; &pcy;&ocy; &vcy;&scy;&iecy;&jcy; &scy;&tcy;&rcy;&acy;&ncy;&iecy;.
      .concept-about
        img(src='assets/img/concept-author.webp' width='283' alt='')
        .concept-about-info
          span &Acy;&ncy;&dcy;&rcy;&iecy;&jcy; &Acy;&lcy;&iecy;&kcy;&scy;&acy;&ncy;&dcy;&rcy;&ocy;&vcy;&icy;&chcy; &SHcy;&iecy;&lcy;&ucy;&dcy;&softcy;&kcy;&ocy;
          p &Ocy;&scy;&ncy;&ocy;&vcy;&acy;&tcy;&iecy;&lcy;&softcy; &shcy;&kcy;&ocy;&lcy;&ycy; &quot;&Tcy;&ocy;&chcy;&kcy;&acy; &Zcy;&ncy;&acy;&ncy;&icy;&jcy;&quot;
          p &Pcy;&rcy;&iecy;&pcy;&ocy;&dcy;&acy;&vcy;&acy;&tcy;&iecy;&lcy;&softcy;, &pcy;&ocy;&bcy;&iecy;&dcy;&icy;&tcy;&iecy;&lcy;&softcy; &Vcy;&scy;&iecy;&rcy;&ocy;&scy;&scy;&icy;&jcy;&scy;&kcy;&ocy;&jcy; &ocy;&lcy;&icy;&mcy;&pcy;&icy;&acy;&dcy;&ycy; &pcy;&ocy; &vcy;&ycy;&scy;&shcy;&iecy;&jcy; &mcy;&acy;&tcy;&iecy;&mcy;&acy;&tcy;&icy;&kcy;&iecy;
