mixin consult(mod)
  .consult(class = mod ? mod : false)
    .container
      .consult__area
        .consult__info
          h2 Нужна консультация?
          p Напишите нам. Ответим на все вопросы и&nbsp;поможем в выборе.
        .consult__image-box
          img.consult__image(src='assets/img/consult.svg' alt='')
        .consult__links
          a.btn-social.btn-social_tg(href='#') Написать в Telegram
          a.btn-social.btn-social_wp(href='#') Написать в Whatsapp

