mixin contacts(mod, image='contacts/contacts-1.svg')
  .contacts(class=mod ? `contacts_${mod}` : false)
    .container
      .contacts__area
        .contacts__box
          h2.contacts__title.title Нужна консультация?
          .contacts__text Задавайте любые вопросы, поможем подобрать занятия
          picture.contacts__picture
            img.contacts__image(src=staticImg(image) alt='')
          .contacts__buttons
            a.contacts__button.btn-warning(href='#') Оставить заявку
            a.contacts__button.btn-wp(href='#') Связаться в WhatsApp
