section.direction.dir-top
  .container
    h2 Выберите направление
    .row
      .col-md-4
        .direction-blk
          a.title(href='nachalnaya_shkola.html') Начальная школа
          .direction-line
            span 1-4 класс
            .direction-external +Семейное обучение
          a.btn.btn-warning(href='nachalnaya_shkola.html') Выбрать
      .col-md-4
        .direction-blk
          a.title(href='srednyaya_shkola.html') Средняя школа
          .direction-line
            span 5-8 класс
            .direction-external +Семейное обучение
          a.btn.btn-warning(href='srednyaya_shkola.html') Выбрать
      .col-md-4
        .direction-blk
          a.title(href='starshaya_shkola.html') Старшая школа
          p 9-11 класс
          a.btn.btn-warning(href='starshaya_shkola.html') Выбрать
