.discount(data-element="discount")
  .container
    .discount__area
      .discount__text!= '<span class="discount__text-big">Для Вас скидка</span> <span class="discount__text-price">3000 рублей</span> на первый месяц обучения!'
      .discount__time
        | Акция действует до 11.11.24 включительно
        button.discount__close(data-element="discount__close")
