-
  const educationList = [
    'Учитесь онлайн на учебной платформе по расписанию, взаимодействуя с учителем в чате',
    'Усваиваете материал вместе с тьютором, который поддерживает по каждому предмету и помогает более качественно усвоить тему',
    'Изучаете учебные материалы, прикрепленные к каждому уроку',
    'Проходите программу, соответствующую школьной программе обучения',
    'Выполняете домашние работы, контрольные работы и проходите аттестацию онлайн',
  ]

.education.education_blue
  .container
    h2.education__title.title Как проходит обучение на экстернате
    ul.education__list
      each item, index in educationList
        li.education__item
          img.education__icon(src=staticImg(`education/education-icon-${index+1}.svg`) alt='')
          .education__text= item
