section.learn.hight
  .container
    h2 &Kcy;&ocy;&gcy;&dcy;&acy; &ecy;&kcy;&zcy;&acy;&mcy;&iecy;&ncy;&ycy; &ncy;&iecy; &scy;&tcy;&rcy;&acy;&shcy;&ncy;&ycy;
    .learn-block
      .row.align-items-center
        .col-xl-7.col-lg-7.col-md-7
          .learn-info
            p
              | &Kcy;&lcy;&yucy;&chcy; &kcy; &ucy;&scy;&pcy;&iecy;&shcy;&ncy;&ocy;&jcy; &scy;&dcy;&acy;&chcy;&iecy; &Ocy;&Gcy;&Ecy; &icy; &IEcy;&Gcy;&Ecy; &mdash;
              span &pcy;&rcy;&ocy;&fcy;&iecy;&scy;&scy;&icy;&ocy;&ncy;&acy;&lcy;&softcy;&ncy;&acy;&yacy; &pcy;&ocy;&dcy;&gcy;&ocy;&tcy;&ocy;&vcy;&kcy;&acy;.
            p
              | &Dcy;&iecy;&tcy;&acy;&lcy;&softcy;&ncy;&ocy; &rcy;&acy;&zcy;&bcy;&iecy;&rcy;&iecy;&mcy;
              span &kcy;&acy;&zhcy;&dcy;&ocy;&iecy; &zcy;&acy;&dcy;&acy;&ncy;&icy;&iecy;
              |  &icy; &scy;&tcy;&rcy;&ucy;&kcy;&tcy;&ucy;&rcy;&ucy; &ecy;&kcy;&zcy;&acy;&mcy;&iecy;&ncy;&acy;, &ucy;&zcy;&ncy;&acy;&iecy;&mcy;, &kcy;&acy;&kcy; &ocy;&fcy;&ocy;&rcy;&mcy;&lcy;&yacy;&tcy;&softcy; &rcy;&acy;&bcy;&ocy;&tcy;&ucy; &icy; &ocy;&bcy;&khcy;&ocy;&dcy;&icy;&tcy;&softcy;
              span &laquo;&lcy;&ocy;&vcy;&ucy;&shcy;&kcy;&icy;&raquo;.
            p
              | &Mcy;&ncy;&ocy;&gcy;&icy;&iecy; &ncy;&acy;&shcy;&icy; &ucy;&chcy;&icy;&tcy;&iecy;&lcy;&yacy; &icy; &tcy;&softcy;&yucy;&tcy;&ocy;&rcy;&ycy; &mdash; &ecy;&kcy;&scy;&pcy;&iecy;&rcy;&tcy;&ycy; &Ocy;&Gcy;&Ecy; &icy; &IEcy;&Gcy;&Ecy;. &Ocy;&ncy;&icy; &zcy;&ncy;&acy;&yucy;&tcy; &ocy;&bcy;&ocy; &vcy;&scy;&iecy;&khcy; &tcy;&ocy;&ncy;&kcy;&ocy;&scy;&tcy;&yacy;&khcy; &icy; &chcy;&tcy;&ocy; &ncy;&ucy;&zhcy;&ncy;&ocy; &dcy;&iecy;&lcy;&acy;&tcy;&softcy;, &chcy;&tcy;&ocy;&bcy;&ycy; &pcy;&ocy;&lcy;&ucy;&chcy;&icy;&tcy;&softcy;
              span &vcy;&ycy;&scy;&ocy;&kcy;&icy;&jcy; &bcy;&acy;&lcy;&lcy;.
          aside *&Pcy;&ocy; &rcy;&iecy;&zcy;&ucy;&lcy;&softcy;&tcy;&acy;&tcy;&acy;&mcy; &vcy;&scy;&iecy;&rcy;&ocy;&scy;&scy;&icy;&jcy;&scy;&kcy;&icy;&khcy; &kcy;&ocy;&ncy;&kcy;&ucy;&rcy;&scy;&ocy;&vcy;
        .col-lg-5.col-md-6.learn-image
          .learn-icon
            img.img-fluid(src='https://cms-dev.tochka-school.ru/themes/school-point/assets/img/hight-learn.svg' alt='')
