section.learn.secondary
  .container
    h2 &Pcy;&ocy;&ncy;&icy;&mcy;&acy;&tcy;&softcy;, &acy; &ncy;&iecy; &laquo;&zcy;&ucy;&bcy;&rcy;&icy;&tcy;&softcy;&raquo;
    .learn-block
      .row
        .col-xl-7.col-lg-7.col-md-7
          .learn-info
            p
              | &Scy;&acy;&mcy;&ocy;&iecy; &vcy;&acy;&zhcy;&ncy;&ocy;&iecy; &vcy; &ocy;&bcy;&ucy;&chcy;&iecy;&ncy;&icy;&icy; &mdash;
              span &pcy;&ocy;&ncy;&icy;&mcy;&acy;&ncy;&icy;&iecy; &pcy;&rcy;&iecy;&dcy;&mcy;&iecy;&tcy;&acy;.
            p
              | &Pcy;&ocy;&ncy;&icy;&mcy;&acy;&ncy;&icy;&iecy; &pcy;&rcy;&icy;&vcy;&ocy;&dcy;&icy;&tcy; &kcy;
              span &tcy;&vcy;&iecy;&rcy;&dcy;&ycy;&mcy; &zcy;&ncy;&acy;&ncy;&icy;&yacy;&mcy;
              |  &icy; &fcy;&ocy;&rcy;&mcy;&icy;&rcy;&ucy;&iecy;&tcy; &kcy;&rcy;&iecy;&pcy;&kcy;&ucy;&yucy; &bcy;&acy;&zcy;&ucy;, &kcy;&ocy;&tcy;&ocy;&rcy;&acy;&yacy; &pcy;&ocy;&mcy;&ocy;&zhcy;&iecy;&tcy; &ucy;&scy;&pcy;&iecy;&shcy;&ncy;&ocy; &scy;&dcy;&acy;&tcy;&softcy; &Ocy;&Gcy;&Ecy;, &IEcy;&Gcy;&Ecy;, &Vcy;&Pcy;&Rcy; &icy; &ucy;&chcy;&acy;&scy;&tcy;&vcy;&ocy;&vcy;&acy;&tcy;&softcy; &vcy; &ocy;&lcy;&icy;&mcy;&pcy;&icy;&acy;&dcy;&acy;&khcy;.
            p
              | &Mcy;&ycy; &dcy;&ocy;&bcy;&icy;&vcy;&acy;&iecy;&mcy;&scy;&yacy; &pcy;&ocy;&ncy;&icy;&mcy;&acy;&ncy;&icy;&yacy; &ncy;&acy; &kcy;&acy;&zhcy;&dcy;&ocy;&mcy; &ucy;&rcy;&ocy;&kcy;&iecy;. &Bcy;&lcy;&acy;&gcy;&ocy;&dcy;&acy;&rcy;&yacy;
              span &lcy;&ucy;&chcy;&shcy;&icy;&mcy; &ucy;&chcy;&icy;&tcy;&iecy;&lcy;&yacy;&mcy; &scy;&tcy;&rcy;&acy;&ncy;&ycy;*
              | , &scy;&tcy;&rcy;&ocy;&gcy;&icy;&mcy; &icy; &vcy;&ncy;&icy;&mcy;&acy;&tcy;&iecy;&lcy;&softcy;&ncy;&ycy;&mcy; &tcy;&softcy;&yucy;&tcy;&ocy;&rcy;&acy;&mcy;.
          aside *&Pcy;&ocy; &rcy;&iecy;&zcy;&ucy;&lcy;&softcy;&tcy;&acy;&tcy;&acy;&mcy; &vcy;&scy;&iecy;&rcy;&ocy;&scy;&scy;&icy;&jcy;&scy;&kcy;&icy;&khcy; &kcy;&ocy;&ncy;&kcy;&ucy;&rcy;&scy;&ocy;&vcy;
        .col-lg-5.col-md-6.learn-image
          .learn-icon
            img.img-fluid(src='https://cms-dev.tochka-school.ru/themes/school-point/assets/img/secondary-learn.svg' alt='')
