section.learn
  .container
    h2 &Ucy;&chcy;&icy;&mcy;&scy;&yacy; &icy;&gcy;&rcy;&acy;&yucy;&chcy;&icy;
    .learn-block
      .row
        .col-xl-7.col-lg-7.col-md-7
          .learn-info
            p
              | &Scy; &mcy;&acy;&lcy;&iecy;&ncy;&softcy;&kcy;&icy;&mcy;&icy; &shcy;&kcy;&ocy;&lcy;&softcy;&ncy;&icy;&kcy;&acy;&mcy;&icy;
              span &vcy;&acy;&zhcy;&ncy;&ocy; &icy;&gcy;&rcy;&acy;&tcy;&softcy;.
            p
              | &Pcy;&ocy;&ecy;&tcy;&ocy;&mcy;&ucy; &ncy;&acy;&shcy;&icy; &ucy;&rcy;&ocy;&kcy;&icy; &pcy;&rcy;&ocy;&khcy;&ocy;&dcy;&yacy;&tcy;
              span &vcy; &icy;&gcy;&rcy;&ocy;&vcy;&ocy;&jcy; &fcy;&ocy;&rcy;&mcy;&iecy;
              | , &scy; &rcy;&acy;&zcy;&mcy;&icy;&ncy;&kcy;&acy;&mcy;&icy;, &fcy;&icy;&zcy;&kcy;&ucy;&lcy;&softcy;&tcy;-&mcy;&icy;&ncy;&ucy;&tcy;&kcy;&acy;&mcy;&icy;, &lcy;&ucy;&chcy;&shcy;&icy;&mcy;&icy; &ucy;&chcy;&icy;&tcy;&iecy;&lcy;&yacy;&mcy;&icy; &scy;&tcy;&rcy;&acy;&ncy;&ycy;* &icy; &vcy;&ncy;&icy;&mcy;&acy;&tcy;&iecy;&lcy;&softcy;&ncy;&ycy;&mcy;&icy; &tcy;&softcy;&yucy;&tcy;&ocy;&rcy;&acy;&mcy;&icy;.
            p
              | &Rcy;&iecy;&shcy;&acy;&iecy;&mcy;
              span &scy;&rcy;&acy;&zcy;&ucy; 2 &zcy;&acy;&dcy;&acy;&chcy;&icy;
              | : &zcy;&acy;&ncy;&icy;&mcy;&acy;&iecy;&mcy;&scy;&yacy; &pcy;&ocy; &shcy;&kcy;&ocy;&lcy;&softcy;&ncy;&ocy;&jcy; &pcy;&rcy;&ocy;&gcy;&rcy;&acy;&mcy;&mcy;&iecy; &icy; &rcy;&acy;&zcy;&vcy;&icy;&vcy;&acy;&iecy;&mcy; &lcy;&ocy;&gcy;&icy;&chcy;&iecy;&scy;&kcy;&ocy;&iecy; &mcy;&ycy;&shcy;&lcy;&iecy;&ncy;&icy;&iecy;.
          aside *&Pcy;&ocy; &rcy;&iecy;&zcy;&ucy;&lcy;&softcy;&tcy;&acy;&tcy;&acy;&mcy; &vcy;&scy;&iecy;&rcy;&ocy;&scy;&scy;&icy;&jcy;&scy;&kcy;&icy;&khcy; &kcy;&ocy;&ncy;&kcy;&ucy;&rcy;&scy;&ocy;&vcy;
        .col-lg-5.col-md-6.learn-image
          .learn-icon
            img.img-fluid(src='https://cms-dev.tochka-school.ru/themes/school-point/assets/img/learn.svg' alt='')
