-
  const lecturesList = [
    'Учитель года Воронежской области в 2022 году.',
    'Призер Всероссийского конкурса «Мои инновации в образовании-2017».',
    'Почетная грамота департамента образования, науки и молодежной политики Воронежской области, 2018.',
    'Финалист Всероссийского конкурса «Учитель года России-2022».',
    'Педагогический стаж 10 лет.',
  ]
  const lecturesList2 = [
    'Победитель конкурса «Лучшие учителя Российской Федерации» 2006, 2014, 2023 г. ',
    'Почётный работник общего образования Российской Федерации ',
  ]

mixin lectures (mod)
  .lectures(class = mod ? mod : false)
    .container
      h2.lectures__title.title Кто будет вести уроки&nbsp;для&nbsp;Вас
      .lectures__area
        .lectures__slider
          .lectures__wrapper.swiper-wrapper
            each slide in [1,2,3,4,5]
              .lectures__slide.swiper-slide
                .lectures__inner
                  picture.lectures__picture
                    source(srcset=staticImg('lectures/lectures-1_mob.png') media="(max-width: 992px)")
                    img.lectures__image(src=staticImg('lectures/lectures-1.png') alt='')
                  .lectures__box(data-element="lectures__box")
                    .lectures__box-inner
                      .lectures__name Бабенко Анна Юрьевна
                      ul.lectures__list(data-element="lectures__list")
                        if slide === 1
                          each item in lecturesList
                            li= item
                        else
                          each item in lecturesList2
                            li= item
                      .lectures__bottom
                        button.lectures__more(data-element="lectures__more") Показать полностью
                        ul.lectures__tags
                          li Русский язык
                          li Литературное чтение
                          li Математика
        .lectures__nav-box
          button.lectures__nav.lectures__nav_prev
          .lectures__pagination
          button.lectures__nav.lectures__nav_next
