mixin licence(mod)
  section.licence(class = mod ? mod : false)
    .container
      .licence-block
        .licence-info.col-lg-5.col-sm-7
          h2 Наша лицензия
          p Работаем согласно лицензии на осуществление образовательной деятельности.
          p
            | Это даёт Вам право получить налоговый вычет за обучение. Поможем оформить документы и подать заявление.
          a.btn.btn-warning(href='assets/img/licence.webp' data-fancybox='production') Открыть лицензию
        .licence-number.col-lg-5.col-sm-6
          p
            span Регистрационный номер лицензии:
            |  № Л035-01218-23/00650937
          p
            span Дата предоставления лицензии:
            |  11 мая 2023
        .licence-image
          img(src='assets/img/licence.webp' alt='' width='360px')
