mixin line-info(mod)
  .line-info(class = mod ? mod : false)
    .container
      .line-info__area
        .line-info__title В чём суть?
        .line-info__text
          | Экстернат (семейное обучение) — альтернатива обычной школе.
          |
          span Это форма обучения, при которой родители берут ответственность за образование своих детей.
          |
          span Ребёнок не ходит в школу, его учёбу организуют родители. Например, дома онлайн.
