.marathon-informer(data-element="marathon-informer")
  .container
    .marathon-informer__area
      .marathon-informer__text
        span Осенний марафон!
        |
        | Закрыть пробелы в знаниях и не дать ребенку скатиться в учёбе
      a.marathon-informer__button(href='#') Записаться
      button.marathon-informer__close(data-element="marathon-informer__close")
