section.numbers.green
  .container
    h2 Мы в цифрах
    .number-block.row
      .col-xl-3.col-sm-6
        p
          span.count 20 000
        p
          span Учеников
          |  прошли наше обучение
      .col-xl-3.col-sm-6
        p
          span.count 3
          |  года
        p
          span Помогаем улучшить
          |  оценки и полюбить учёбу
      .col-xl-3.col-sm-6
        p
          span.count 31
          |
          | и
          |
          span.count 170
        p
          span Преподавателей
          |  и 82 тьютора
      .col-xl-3.col-sm-6
        p.grade
          span.count 4,9
        p
          span Средняя оценка
          |  родителями
