section.offer
  .container
    h1
      | &Zcy;&acy;&ncy;&yacy;&tcy;&icy;&yacy; &dcy;&lcy;&yacy; &dcy;&iecy;&tcy;&iecy;&jcy;
      span &scy; 1 &pcy;&ocy; 11 &kcy;&lcy;&acy;&scy;&scy;
    .d-flex.flex-wrap.justify-content-center.offer-block
      .offer-blk
        span &Lcy;&ucy;&chcy;&shcy;&icy;&iecy; &ucy;&chcy;&icy;&tcy;&iecy;&lcy;&yacy; &Rcy;&Fcy;*
        .tooltips &Pcy;&ocy; &rcy;&iecy;&zcy;&ucy;&lcy;&softcy;&tcy;&acy;&tcy;&acy;&mcy; &vcy;&scy;&iecy;&rcy;&ocy;&scy;&scy;&icy;&jcy;&scy;&kcy;&icy;&khcy; &kcy;&ocy;&ncy;&kcy;&ucy;&rcy;&scy;&ocy;&vcy;
      .offer-blk
        span &Icy;&ncy;&tcy;&iecy;&rcy;&iecy;&scy; &kcy; &ucy;&chcy;&iocy;&bcy;&iecy;
      .offer-blk
        span &Ucy;&scy;&pcy;&iecy;&shcy;&ncy;&ocy;&iecy; &bcy;&ucy;&dcy;&ucy;&shchcy;&iecy;&iecy;
      .offer-blk
        span &Tcy;&vcy;&iecy;&rcy;&dcy;&ycy;&iecy; &zcy;&ncy;&acy;&ncy;&icy;&yacy;
      .offer-blk
        span &Ocy;&tcy;&lcy;&icy;&chcy;&ncy;&ycy;&iecy; &ocy;&tscy;&iecy;&ncy;&kcy;&icy;
    .students.d-sm-flex.align-items-center.justify-content-center
      img(src='assets/img/students.webp' width='106' alt='')
      span &Bcy;&ocy;&lcy;&iecy;&iecy; 20 000 &scy;&chcy;&acy;&scy;&tcy;&lcy;&icy;&vcy;&ycy;&khcy; &ucy;&chcy;&iecy;&ncy;&icy;&kcy;&ocy;&vcy;
    .predzaps-informer
      .predzaps-informer__title Записаться в предзапись
      .predzaps-informer__area
        .predzaps-informer__text!= 'на следующий учебный год, чтобы сэкономить <span>от 8 000 до 50 000 <b>рублей</b><i>₽</i></span> на занятиях!'
        a.predzaps-informer__button(href='#') Подробнее
