section.page-end.page-end_external
  .container
    .page-end-block
      .page-end-content
        h2 Страница подошла к концу
        p
          | Время принять решение: оставить всё как есть или перейти на экстернат (семейное обучение), учиться с интересом, в комфортной среде, получать твёрдые знания и отличные оценки.
        a.anchor.btn.btn-warning(href='#block1') Начать обучение
