section.primary-offer.secondary-offer
  .container
    .breadcrumb-block(aria-label='breadcrumb')
      ol.breadcrumb
        li.breadcrumb-item
          a(href='index.html') &Gcy;&lcy;&acy;&vcy;&ncy;&acy;&yacy;
        li.breadcrumb-item.active(aria-current='page') &Scy;&rcy;&iecy;&dcy;&ncy;&yacy;&yacy; &shcy;&kcy;&ocy;&lcy;&acy;
    .primary-offer-block
      span.offer-class 5-8 &kcy;&lcy;&acy;&scy;&scy;
      h1
        | &Tcy;&vcy;&iocy;&rcy;&dcy;&ycy;&iecy; &zcy;&ncy;&acy;&ncy;&icy;&yacy;, &pcy;&ocy;&ncy;&icy;&mcy;&acy;&ncy;&icy;&iecy; &pcy;&rcy;&iecy;&dcy;&mcy;&iecy;&tcy;&acy;
        span &icy; &scy;&dcy;&acy;&chcy;&acy; &Vcy;&Pcy;&Rcy; &ncy;&acy; &laquo;&ocy;&tcy;&lcy;&icy;&chcy;&ncy;&ocy;&raquo;
      a.anchor.btn.btn-warning(href='#Class') &Vcy;&ycy;&bcy;&rcy;&acy;&tcy;&softcy; &kcy;&lcy;&acy;&scy;&scy;
