section.primary-offer.primary-ofr
  .container
    .breadcrumb-block(aria-label='breadcrumb')
      ol.breadcrumb
        li.breadcrumb-item.ut_m
          a(href='https://cms-dev.tochka-school.ru') &Gcy;&lcy;&acy;&vcy;&ncy;&acy;&yacy;
        li.breadcrumb-item.active(aria-current='page') &Ncy;&acy;&chcy;&acy;&lcy;&softcy;&ncy;&acy;&yacy; &shcy;&kcy;&ocy;&lcy;&acy;
    .primary-offer-block
      span.offer-class 1-4  &kcy;&lcy;&acy;&scy;&scy;
      h1 &Lcy;&yucy;&bcy;&ocy;&vcy;&softcy; &kcy; &ucy;&chcy;&iocy;&bcy;&iecy;, &pcy;&ocy;&ncy;&icy;&mcy;&acy;&ncy;&icy;&iecy; &pcy;&rcy;&iecy;&dcy;&mcy;&iecy;&tcy;&acy; &icy; &ocy;&tcy;&lcy;&icy;&chcy;&ncy;&ycy;&iecy; &ocy;&tscy;&iecy;&ncy;&kcy;&icy; &scy; &pcy;&iecy;&rcy;&vcy;&ycy;&khcy; &ucy;&rcy;&ocy;&kcy;&ocy;&vcy;
      a.btn.btn-warning(href='#Class') &Vcy;&ycy;&bcy;&rcy;&acy;&tcy;&softcy; &kcy;&lcy;&acy;&scy;&scy;
