section.hight-offer-block
  .primary-offer.hight-offer
    .container
      .breadcrumb-block(aria-label='breadcrumb')
        ol.breadcrumb
          li.breadcrumb-item.ut_m
            a(href='https://cms-dev.tochka-school.ru') &Gcy;&lcy;&acy;&vcy;&ncy;&acy;&yacy;
          li.breadcrumb-item.active(aria-current='page') &Scy;&tcy;&acy;&rcy;&shcy;&acy;&yacy; &shcy;&kcy;&ocy;&lcy;&acy;
      .primary-offer-block
        span.offer-class 9-11 &kcy;&lcy;&acy;&scy;&scy;
        h1
          | &Pcy;&ocy;&dcy;&gcy;&ocy;&tcy;&ocy;&vcy;&icy;&mcy;&scy;&yacy; &kcy; &Ocy;&Gcy;&Ecy; &icy; &IEcy;&Gcy;&Ecy;.
          span &Bcy;&iecy;&zcy; &scy;&tcy;&rcy;&iecy;&scy;&scy;&acy; &icy; &ncy;&acy; &vcy;&ycy;&scy;&ocy;&kcy;&icy;&jcy; &bcy;&acy;&lcy;&lcy;.
        a.btn.btn-warning(href='#Class') &Vcy;&ycy;&bcy;&rcy;&acy;&tcy;&softcy; &kcy;&lcy;&acy;&scy;&scy;
