-
  const programList = [
    [
      { text: 'Русский язык', hint: '' },
      { text: 'Литературное чтение ', hint: '' },
      { text: 'Английский язык', hint: '' },
      { text: 'Математика', hint: '' },
      { text: 'Окружающий мир ', hint: '' },
      { text: 'ИЗО и Технология', hint: '' },
      { text: 'Музыка', hint: '' },
      { text: 'Физкультура', hint: '' },
    ],
    [
      { text: 'Русский язык', hint: '' },
      { text: 'Литературное чтение', hint: '' },
      { text: 'Английский язык', hint: '' },
      { text: 'Математика', hint: '' },
      { text: 'Окружающий мир', hint: '' },
      { text: 'ИЗО и Технология', hint: '' },
      { text: 'Музыка', hint: '' },
      { text: 'Физкультура', hint: '' },
    ],
    [
      { text: 'Русский язык', hint: '' },
      { text: 'Литературное чтение', hint: '' },
      { text: 'Английский язык', hint: '' },
      { text: 'Математика', hint: '' },
      { text: 'Окружающий мир', hint: '' },
      { text: 'ИЗО и Технология', hint: '' },
      { text: 'Музыка', hint: '' },
      { text: 'Физкультура', hint: '' },
    ],
    [
      { text: 'Русский язык', hint: '' },
      { text: 'Литературное чтение', hint: '' },
      { text: 'Английский язык', hint: '' },
      { text: 'Математика', hint: '' },
      { text: 'Окружающий мир', hint: '' },
      { text: 'ИЗО и Технология', hint: '' },
      { text: 'Музыка', hint: '' },
      { text: 'Физкультура', hint: '' },
      { text: 'ОРКСЭ*', hint: 'Основы религиозных культур и светской этики' },
    ],
    [
      { text: 'Русский язык ', hint: '' },
      { text: 'Литература', hint: '' },
      { text: 'Английский язык', hint: '' },
      { text: 'Математика', hint: '' },
      { text: 'История', hint: '' },
      { text: 'ОДНКНР*', hint: 'Основы духовно-нравственной культуры народов России' },
      { text: 'География', hint: '' },
      { text: 'Биология', hint: '' },
      { text: 'ИЗО и Технология', hint: '' },
      { text: 'Физкультура', hint: '' },
      { text: 'Музыка', hint: '' },
    ],
    [
      { text: 'Русский язык', hint: '' },
      { text: 'Литература', hint: '' },
      { text: 'Английский язык', hint: '' },
      { text: 'Математика', hint: '' },
      { text: 'История', hint: '' },
      { text: 'Обществознание', hint: '' },
      { text: 'География', hint: '' },
      { text: 'Биология', hint: '' },
      { text: 'ИЗО и Технология', hint: '' },
      { text: 'Физкультура', hint: '' },
      { text: 'ОДНКНР*', hint: 'Основы духовно-нравственной культуры народов России' },
      { text: 'Музыка', hint: '' },
    ],
    [
      { text: 'Русский язык', hint: '' },
      { text: 'Литература', hint: '' },
      { text: 'Английский язык', hint: '' },
      { text: 'Математика', hint: '' },
      { text: 'История', hint: '' },
      { text: 'Обществознание', hint: '' },
      { text: 'География', hint: '' },
      { text: 'Биология', hint: '' },
      { text: 'Физика', hint: '' },
      { text: 'Химия', hint: '' },
      { text: 'Информатика', hint: '' },
      { text: 'ИЗО и Технология', hint: '' },
      { text: 'Физкультура', hint: '' },
      { text: 'Музыка', hint: '' },
    ],
    [
      { text: 'Русский язык', hint: '' },
      { text: 'Литература', hint: '' },
      { text: 'Английский язык', hint: '' },
      { text: 'Математика', hint: '' },
      { text: 'История', hint: '' },
      { text: 'Обществознание', hint: '' },
      { text: 'География', hint: '' },
      { text: 'Биология', hint: '' },
      { text: 'Физика', hint: '' },
      { text: 'Химия', hint: '' },
      { text: 'Информатика', hint: '' },
      { text: 'Технология ', hint: '' },
      { text: 'Физкультура', hint: '' },
      { text: 'Музыка', hint: '' },
    ]
  ]

mixin program(mod)
  each box,index in programList
    .program(class = mod ? mod : false)
      .container
        h2.program__title.title!= `Программа <span>${index+1} класса</span>`
        .program__text Составлена на основе государственного образовательного стандарта. Все предметы — как в обычной школе.
        .program__list
          each item in box
            .program__item(class=item.hint ? 'program__item_hint' : false)= item.text
              if item.hint
                .program__hint= item.hint
