section.schedul
  .container
    .schedul-blk.d-xxl-flex.align-items-center
      h2 Расписание с сентября 2024
      .schedule-info
        p
          span Параллель 1:
          |
          | понедельник и среда в 15:30 Мск
        p
          span Параллель 2:
          |
          | вторник и четверг в 16:00 Мск
