-
  const scheduleHead = [
    'Время начала урока',
    'Понедельник',
    'Вторник',
    'Среда',
    'Четверг',
    'Пятница',
    'Суббота',
    'Воскресенье',
  ]
  const scheduleBody = [
    '10:00',
    'ИЗО и Технология',
    'Литература',
    'Математика. Базовый уровень',
    'Биология',
    'География',
    'Обществознание',
    'Математика. Продвинутый уровень',
  ]
  const scheduleBodyNew = [
    ['10:00'],
    ['ИЗО и Технология'],
    ['Литература', 'Ещё один предмет'],
    ['Математика. Базовый уровень'],
    ['Биология','География','Обществознание'],
    ['География'],
    ['Обществознание'],
    ['Математика. Продвинутый уровень'],
  ]

mixin schedule(mod)
  .schedule(data-element="schedule" class = mod ? mod : false)
    .container
      .schedule__area
        button.schedule__toggle(data-element="schedule__toggle-top") Скрыть расписание
        .schedule__box(data-element="schedule__box")
          .schedule__time(data-element="schedule__time") Время
          .schedule__table
            .schedule__row(data-element="schedule__row")
              each item, index in scheduleHead
                .schedule__cell(class = index === 0 ? 'schedule__cell_time' : false)!= item
            each item in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19]
              .schedule__row
                each item, index in scheduleBodyNew
                  .schedule__cell(data-element = index === 0 ? "schedule__cell" : false)
                    each cell in item
                      span= cell
        button.schedule__toggle(data-element="schedule__toggle-bottom") Скрыть расписание

