-
  const stepsList = [
    'Уведомите Ваш орган образования по месту жительства. Предоставим текст заявления и все необходимые инструкции.',
    'Заберите личное дело и другие документы из текущей школы.',
    'Выберите школу и «прикрепитесь» к ней для прохождения аттестации.',
    'Начните учиться на экстернате «Точки Знаний» и проходите аттестацию онлайн.',
  ]

section.steps.steps_blue
  .container
    h2.steps__title.title 4 шага к поступлению на экстернат
    .steps__area
      each item, index in stepsList
        .steps__box
          .steps__number
            img.steps__number-icon(src=staticImg(`study-number${index+1}.svg`) alt='')
          .steps__inner
            p= item
    .steps__doc
      .steps__doc-title Скачивайте руководство по переходу на экстернат с «Точкой Знаний»
      picture.steps__doc-picture
        img.steps__doc-image(src=staticImg('steps/steps-doc.png') alt='')
      a.steps__doc-button.btn-warning(href='#modal-external' data-fancybox) Скачать
