-
  const currentStock = [
    'Правила проведения Акции «Тестировщик 2024» с 10.06.2024 по 31.12.2024 г.',
    'Правила проведения Акции «Вернём деньги, если не получилось найти работу» с 01.01.2024 г. по 31.12.2024 г.',
    'Правила проведения Акции «Скидка 10% за прохождение 5 уроков из профессии» c 01.01.2024 по 31.12.2024 г.',
    'Правила проведения Акции «Скидка 30% на вторую профессию для амбассадоров и выпускников групповых программ» c 01.01.2024 по 31.12.2024 г.',
  ]
  const oldStock = [
    'Правила проведения Акции «Тестировщик 2024» с 10.06.2024 по 31.12.2024 г.',
    'Правила проведения Акции «Вернём деньги, если не получилось найти работу» с 01.01.2024 г. по 31.12.2024 г.',
    'Правила проведения Акции «Скидка 10% за прохождение 5 уроков из профессии» c 01.01.2024 по 31.12.2024 г.',
    'Правила проведения Акции «Скидка 30% на вторую профессию для амбассадоров и выпускников групповых программ» c 01.01.2024 по 31.12.2024 г.',
    'Правила проведения Акции «Тестировщик 2024» с 10.06.2024 по 31.12.2024 г.',
    'Правила проведения Акции «Вернём деньги, если не получилось найти работу» с 01.01.2024 г. по 31.12.2024 г.',
    'Правила проведения Акции «Скидка 10% за прохождение 5 уроков из профессии» c 01.01.2024 по 31.12.2024 г.',
    'Правила проведения Акции «Скидка 30% на вторую профессию для амбассадоров и выпускников групповых программ» c 01.01.2024 по 31.12.2024 г.',
    'Правила проведения Акции «Тестировщик 2024» с 10.06.2024 по 31.12.2024 г.',
    'Правила проведения Акции «Вернём деньги, если не получилось найти работу» с 01.01.2024 г. по 31.12.2024 г.',
    'Правила проведения Акции «Скидка 10% за прохождение 5 уроков из профессии» c 01.01.2024 по 31.12.2024 г.',
    'Правила проведения Акции «Скидка 30% на вторую профессию для амбассадоров и выпускников групповых программ» c 01.01.2024 по 31.12.2024 г.',
    'Правила проведения Акции «Тестировщик 2024» с 10.06.2024 по 31.12.2024 г.',
    'Правила проведения Акции «Вернём деньги, если не получилось найти работу» с 01.01.2024 г. по 31.12.2024 г.',
    'Правила проведения Акции «Скидка 10% за прохождение 5 уроков из профессии» c 01.01.2024 по 31.12.2024 г.',
    'Правила проведения Акции «Скидка 30% на вторую профессию для амбассадоров и выпускников групповых программ» c 01.01.2024 по 31.12.2024 г.',
  ]

.stock
  .container
    h1.stock__title Акции
    .stock__box
      h3.stock__headline Текущие акции
      ul.stock__list
        each item in currentStock
          li.stock__item
            a.stock__link(href='#' target='_blank')= item
    .stock__box
      h3.stock__headline Прошедшие акции
      ul.stock__list
        each item in oldStock
          li.stock__item
            a.stock__link(href='#' target='_blank')= item
