mixin study(mod)
  section.study(class = mod ? mod : false)
    .container
      h2 &Kcy;&acy;&kcy; &pcy;&rcy;&ocy;&khcy;&ocy;&dcy;&icy;&tcy; &ocy;&bcy;&ucy;&chcy;&iecy;&ncy;&icy;&iecy;
      .row
        .col-md-6
          .study-blk
            span &Zcy;&acy;&ncy;&icy;&mcy;&acy;&iecy;&mcy;&scy;&yacy; &ocy;&ncy;&lcy;&acy;&jcy;&ncy;
            p &Ocy;&ncy;&lcy;&acy;&jcy;&ncy;-&ucy;&rcy;&ocy;&kcy;&icy; &vcy; &pcy;&rcy;&yacy;&mcy;&ocy;&mcy; &ecy;&fcy;&icy;&rcy;&iecy; &ncy;&acy; &ucy;&chcy;&iecy;&bcy;&ncy;&ocy;&jcy; &pcy;&lcy;&acy;&tcy;&fcy;&ocy;&rcy;&mcy;&iecy;. &Dcy;&ocy;&scy;&tcy;&ucy;&pcy; &scy; &tcy;&iecy;&lcy;&iecy;&fcy;&ocy;&ncy;&acy; &icy; &ncy;&ocy;&ucy;&tcy;&bcy;&ucy;&kcy;&acy;.
        .col-md-6
          .study-blk
            span &Zcy;&acy;&pcy;&icy;&scy;&icy; &zcy;&acy;&ncy;&yacy;&tcy;&icy;&jcy;
            p &Zcy;&acy;&pcy;&icy;&scy;&softcy; &ucy;&rcy;&ocy;&kcy;&acy; &dcy;&ocy;&scy;&tcy;&ucy;&pcy;&ncy;&acy; &ucy;&zhcy;&iecy; &chcy;&iecy;&rcy;&iecy;&zcy; 30 &mcy;&icy;&ncy;&ucy;&tcy; &icy; &vcy; &tcy;&iecy;&chcy;&iecy;&ncy;&icy;&iecy; &vcy;&scy;&iecy;&gcy;&ocy; &ucy;&chcy;&iecy;&bcy;&ncy;&ocy;&gcy;&ocy; &gcy;&ocy;&dcy;&acy;
        .col-md-6
          .study-blk
            span &Lcy;&icy;&chcy;&ncy;&ycy;&jcy; &tcy;&softcy;&yucy;&tcy;&ocy;&rcy;
            p &Pcy;&rcy;&ocy;&vcy;&iecy;&rcy;&icy;&tcy; &zcy;&acy;&dcy;&acy;&ncy;&icy;&iecy; &kcy; &ucy;&rcy;&ocy;&kcy;&ucy;, &pcy;&ocy;&mcy;&ocy;&zhcy;&iecy;&tcy; &icy;&scy;&pcy;&rcy;&acy;&vcy;&icy;&tcy;&softcy; &ocy;&shcy;&icy;&bcy;&kcy;&icy; &icy; &ocy;&tcy;&vcy;&iecy;&tcy;&icy;&tcy; &ncy;&acy; &vcy;&ocy;&pcy;&rcy;&ocy;&scy;&ycy;.
        .col-md-6
          .study-blk
            span &Tcy;&iecy;&scy;&tcy;&icy;&rcy;&ocy;&vcy;&acy;&ncy;&icy;&iecy;
            p &Rcy;&acy;&zcy; &vcy; &mcy;&iecy;&scy;&yacy;&tscy; &pcy;&rcy;&ocy;&vcy;&ocy;&dcy;&icy;&mcy; &pcy;&rcy;&ocy;&mcy;&iecy;&zhcy;&ucy;&tcy;&ocy;&chcy;&ncy;&ocy;&iecy; &tcy;&iecy;&scy;&tcy;&icy;&rcy;&ocy;&vcy;&acy;&ncy;&icy;&iecy;, &chcy;&tcy;&ocy;&bcy;&ycy; &ocy;&tcy;&scy;&lcy;&iecy;&dcy;&icy;&tcy;&softcy; &pcy;&rcy;&ocy;&gcy;&rcy;&iecy;&scy;&scy;.
        .col-md-6
          .study-blk
            span &Pcy;&ocy; &rcy;&acy;&scy;&pcy;&icy;&scy;&acy;&ncy;&icy;&yucy;
            p &Zcy;&acy;&ncy;&icy;&mcy;&acy;&iecy;&mcy;&scy;&yacy; &pcy;&ocy; &rcy;&acy;&scy;&pcy;&icy;&scy;&acy;&ncy;&icy;&yucy;. &Icy;&dcy;&iocy;&mcy; &pcy;&ocy; &shcy;&kcy;&ocy;&lcy;&softcy;&ncy;&ocy;&jcy; &pcy;&rcy;&ocy;&gcy;&rcy;&acy;&mcy;&mcy;&iecy;.
        .col-md-6
          .study-blk
            span &Lcy;&icy;&chcy;&ncy;&ycy;&jcy; &kcy;&acy;&bcy;&icy;&ncy;&iecy;&tcy;
            p &Dcy;&ocy;&scy;&tcy;&ucy;&pcy; &vcy; &lcy;&icy;&chcy;&ncy;&ycy;&jcy; &kcy;&acy;&bcy;&icy;&ncy;&iecy;&tcy; &ncy;&acy; &ucy;&chcy;&iecy;&bcy;&ncy;&ocy;&jcy; &pcy;&lcy;&acy;&tcy;&fcy;&ocy;&rcy;&mcy;&iecy;: &ucy;&rcy;&ocy;&kcy;&icy;, &zcy;&acy;&pcy;&icy;&scy;&icy;, &kcy;&ocy;&ncy;&scy;&pcy;&iecy;&kcy;&tcy;&ycy;, &zcy;&acy;&dcy;&acy;&ncy;&icy;&yacy;.
