.teacher-study
  .container
    h2.teacher-study__title.title Как проходит обучение
    .teacher-study__area
      .teacher-study__box
        .teacher-study__headline Зум-конференции по пятницам 17:00 - 18:30
        p.teacher-study__text.
          Каждое занятие — обзор задачи второй части ЕГЭ по профильной математике: критерии проверки,
          идеи решения, "узкие" места, ключевые ошибки, образцы оформления.
        p.teacher-study__text.
          После занятия — домашнее задание. Вы попробуете себя в роли эксперта ЕГЭ, проверяя работы.
      img.teacher-study__image(src=staticImg('teacher-study/teacher-study-1.svg') alt='')
