.thanks
  .container
    h1.thanks__caption Позвоним в течение 30 минут в рабочее время с 9:00 до 21:00
    .thanks__text
      | Задавайте любые вопросы, а мы ответим и поможем подобрать занятия
    a.thanks__link.btn-warning(href='#') На главную
