.family-bonus
  .cont-small
    .family-bonus__area
      .family-bonus__box
        .family-bonus__top
          h4.family-bonus__title Бонус!
        .family-bonus__text
          | Инструкция по переходу на семейное обучение&nbsp;“4&nbsp;шага к учёбе дома”
          br
          | + список документов с примерами, которые понадобятся в случае выбора семейного формата.
      img.family-bonus__image(src=staticImg('family-bonus/family-bonus-decor.svg') alt='')

