-
  const familyConsultList = [
    'как будет выглядеть обычный день ребёнка на семейном обучении',
    'как совершить переход на семейный формат максимально комфортно',
    'какие документы Вы получите в конце учебного года',
    'как сдавать контрольные работы и экзамены онлайн',
    'организация учёбы на семейном формате в “Точке Знаний”',
    'взвесить все “за” и “против” и принять решение именно в Вашей ситуации',
  ]

.family-consult
  .cont-small
    .family-consult__title
      | Индивидуальная консультация
      |
      span с&nbsp;методистом онлайн-школы “Точка&nbsp;Знаний"
    .family-consult__sub-title “Подойдёт ли Вашему ребёнку семейное обучение?”
    .family-consult__text.
      Консультация бесплатна. Проходит в видеоформате и включает в себя следующие темы для обсуждения:
    ul.family-consult__list
      each item in familyConsultList
        li.family-consult__item= item
