.family-cap
  .cont-small
    .family-cap__area
      h1.family-cap__caption Переход на семейное обучение: плюсы и минусы
      .family-cap__text Что нужно знать родителям, перед тем как принять взвешенное решение перевести ребёнка на учёбу дома

