.family-stats
  .cont-small
    h2.family-stats__title Всё больше родителей “забирают” детей&nbsp;из&nbsp;школ
    p.family-stats__text.
      Семейное обучение — альтернатива обычной школе. Это форма обучения, при которой родители берут ответственность
      за образование своих детей. Ребёнок не ходит в школу, его учёбу организуют родители. Например, дома онлайн.
    p.family-stats__text.
      В последние годы эту форму обучения для своих детей выбирают всё больше родителей. И не спроста.
    .family-stats__graph
      img.family-stats__image(src=staticImg('family-stats/family-stats.svg') alt='')
      .family-stats__graph-text
        | По данным Министерства образования:
        |
        a(href='https://docs.edu.gov.ru/document/70ecc3b178e0b8397d234697c42e0ad8/' target='_blank').
          https://docs.edu.gov.ru/document/70ecc3b178e0b8397d234697c42e0ad8/
    .family-stats__note.
      На этой странице Вы можете записаться на бесплатную онлайн-консультацию по переходу на семейное обучение
