.family-info
  .cont-small
    p.family-info__text-bold.
      У ребёнка появляется больше времени. Учиться становится
      комфортнее. Школьную программу можно освоить за 1-3 урока в день. Например, обучаясь онлайн.
    .family-info__box
      .family-info__box-note.
        Но главный вопрос, который задают себе все заботливые&nbsp;родители, звучит так:
      .family-info__box-question.
        Каково это — “забрать” ребёнка из школы? Как теперь будет выглядеть его обычный день?
        Не сделает ли семейный формат только хуже? Как быть с социализацией?
    p.family-info__text.
      Найти онлайн-школу, сдать аттестацию и решить вопросы с документами — не проблема. На всё это уже есть ответы.
    p.family-info__text
      b Но решение перехода на семейное обучение должно быть взвешенным.
      |
      | Чтобы не навредить ребёнку, а дать ему больше
      | возможностей для развития.
    .family-info__area
      img.family-info__logo(src=staticImg('family-info/family-info-logo.svg') alt='')
      .family-info__text
        | Мы в онлайн-школе “Точка Знаний” реализуем формат
        | семейного обучения для
        |
        b 1-8 классов
        |
        | по всем школьным предметам с
        |
        b бесплатным
        |
        | прикреплением к школе для сдачи аттестации (контрольных работ и ВПР)
      .family-info__text.family-info__text_decor
        | И для всех, кто пока не понимает, сомневается, стоит ли
        | “забирать” ребёнка из школы и переходить на обучение дома, проводим
        |
        b консультации.
