-
  const familyReasonList = [
    {
      headline: 'Не устраивает школа',
      text: 'Из-за низкого уровня обучения, нехватки учителей, большого количества детей в классе. Вы хотите дать ' +
              'ребёнку хорошее образование, но альтернативы перейти в другую школу просто нет.'
    },
    {
      headline: 'Хочется больше свободы и развития',
      text: 'Не хватает времени на соревнования, выступления, творчество. Либо ребёнок быстро “схватывает” материал, ' +
              'ему становится скучно. Семейное обучение позволяет создать индивидуальный образовательный маршрут, сфокусироваться на приоритетных предметах.'
    },
    {
      headline: 'Буллинг',
      text: 'Ребёнок сталкивается с травлей со стороны одноклассников и даже учителей, не находит общий язык со ' +
              'сверстниками. Семейное обучение позволяет заниматься в здоровой среде и не травмировать ребёнка.'
    },
    {
      headline: 'Живём за границей',
      text: 'Хотим, чтобы ребёнок обучался по российской программе. Получил российский документ об образовании. ' +
              'Семейный формат в этом случае — идеальный вариант.'
    },
  ]

.family-reason
  .cont-small
    h2.family-reason__title Семейное обучение идеально подходит в&nbsp;следующих ситуациях:
    .family-reason__list
      each item, index in familyReasonList
        .family-reason__item
          img.family-reason__image(src=staticImg(`family-reason/family-reason-${index+1}.svg`) alt='')
          .family-reason__box
            h4.family-reason__headline= item.headline
            p.family-reason__text= item.text
