footer
  .container.footer-col
    .footer-block.row.flex-lg-nowrap
      .flex-xl-fill.fblk
        .footer-logo
          a.ut_m(href='https://tochka-school.ru')
            img(src='https://tochka-school.ru/themes/school-point/assets/img/f-logo.svg' alt='')
          a.logo-mb.ut_m(href='https://tochka-school.ru')
            img(src='https://tochka-school.ru/themes/school-point/assets/img/f-logo2.svg' alt='')
        .lk
          a.btn.btn-warning.d-flex.align-items-center.ut_m(href='https://lk.tochka-school.ru' onclick="ym(97240877,'reachGoal','click-lk'); return true;") &Lcy;&icy;&chcy;&ncy;&ycy;&jcy; &kcy;&acy;&bcy;&icy;&ncy;&iecy;&tcy;
        .footer-requisites
          .footer-requisites
            .footer-company
              p
                | &Ocy;&bcy;&shchcy;&iecy;&scy;&tcy;&vcy;&ocy; &scy; &ocy;&gcy;&rcy;&acy;&ncy;&icy;&chcy;&iecy;&ncy;&ncy;&ocy;&jcy; &ocy;&tcy;&vcy;&iecy;&tcy;&scy;&tcy;&vcy;&iecy;&ncy;&ncy;&ocy;&scy;&tcy;&softcy;&yucy; &ocy;&ncy;&lcy;&acy;&jcy;&ncy;-&shcy;&kcy;&ocy;&lcy;&acy;
                span &quot;&Tcy;&ocy;&chcy;&kcy;&acy; &Zcy;&ncy;&acy;&ncy;&icy;&jcy;&quot;
              p &Ocy;&Gcy;&Rcy;&Ncy; 1232300017817 &Icy;&Ncy;&Ncy; 2311347344
        .footer-adress
          p
            span 350016, &Kcy;&rcy;&acy;&scy;&ncy;&ocy;&dcy;&acy;&rcy;&scy;&kcy;&icy;&jcy; &kcy;&rcy;&acy;&jcy;,
            span &gcy;. &Kcy;&rcy;&acy;&scy;&ncy;&ocy;&dcy;&acy;&rcy;, &ucy;&lcy;. &Zcy;&icy;&pcy;&ocy;&vcy;&scy;&kcy;&acy;&yacy;,
            |  &dcy;. 45, &pcy;&ocy;&mcy;&iecy;&shchcy;. 24, &kcy;&ocy;&mcy;. 2
      .div.d-flex.flex-xl-fill.footer-blk
        .flex-xl-fill.footer-nav.fblk-direct
          h3 &Ncy;&acy;&pcy;&rcy;&acy;&vcy;&lcy;&iecy;&ncy;&icy;&yacy;
          ul.list-unstyled.d-xl-flex.flex-column
            li
              a.ut_m(href='https://tochka-school.ru/nachalnaya-shkola') &Ncy;&acy;&chcy;&acy;&lcy;&softcy;&ncy;&acy;&yacy; &shcy;&kcy;&ocy;&lcy;&acy; 1-4 &kcy;&lcy;&acy;&scy;&scy;
            li
              a.ut_m(href='https://tochka-school.ru/srednyaya-shkola') &Scy;&rcy;&iecy;&dcy;&ncy;&yacy;&yacy; &shcy;&kcy;&ocy;&lcy;&acy; 5-8 &kcy;&lcy;&acy;&scy;&scy;
            li
              a.ut_m(href='https://tochka-school.ru/starshaya-shkola') &Scy;&tcy;&acy;&rcy;&shcy;&acy;&yacy; &shcy;&kcy;&ocy;&lcy;&acy; 9-11 &kcy;&lcy;&acy;&scy;&scy;
        .flex-xl-fill.footer-nav.fblk-nav
          h3 &Dcy;&ocy;&kcy;&ucy;&mcy;&iecy;&ncy;&tcy;&acy;&tscy;&icy;&yacy;
          ul.list-unstyled.d-xl-flex.flex-column
            li
              a.ut_m(href='https://tochka-school.ru/storage/app/media/Dokumenti/Politika_obrabotki_personalnih_dannih_OOO.pdf' target='_blank') &Pcy;&ocy;&lcy;&icy;&tcy;&icy;&kcy;&acy; &ocy;&bcy;&rcy;&acy;&bcy;&ocy;&tcy;&kcy;&icy; &pcy;&iecy;&rcy;&scy;&ocy;&ncy;&acy;&lcy;&softcy;&ncy;&ycy;&khcy; &dcy;&acy;&ncy;&ncy;&ycy;&khcy;
            // <li><a href="politics.html">Пользовательское соглашение</a></li>
            li
              a.ut_m(href='https://tochka-school.ru/storage/app/media/Dokumenti/Soglasie_na_obrabotku_personalnih_dannih_OOO.pdf' target='_blank') &Scy;&ocy;&gcy;&lcy;&acy;&scy;&icy;&iecy; &ncy;&acy; &ocy;&bcy;&rcy;&acy;&bcy;&ocy;&tcy;&kcy;&ucy; &pcy;&iecy;&rcy;&scy;&ocy;&ncy;&acy;&lcy;&softcy;&ncy;&ycy;&khcy; &dcy;&acy;&ncy;&ncy;&ycy;&khcy;
            li
              a.ut_m(href='https://tochka-school.ru/info' target='_blank') &Scy;&vcy;&iecy;&dcy;&iecy;&ncy;&icy;&yacy; &ocy;&bcy; &ocy;&bcy;&rcy;&acy;&zcy;&ocy;&vcy;&acy;&tcy;&iecy;&lcy;&softcy;&ncy;&ocy;&jcy; &ocy;&rcy;&gcy;&acy;&ncy;&icy;&zcy;&acy;&tscy;&icy;&icy;
            li
              a.ut_m(href='https://tochka-school.ru/storage/app/media/Dokumenti/Soglasie_na_reklamnuyu_rassilku_OOO.pdf' target='_blank') &Scy;&ocy;&gcy;&lcy;&acy;&scy;&icy;&iecy; &ncy;&acy; &pcy;&ocy;&lcy;&ucy;&chcy;&iecy;&ncy;&icy;&iecy; &icy;&ncy;&fcy;&ocy;&rcy;&mcy;&acy;&tscy;&icy;&ocy;&ncy;&ncy;&ocy;&jcy; &icy; &rcy;&iecy;&kcy;&lcy;&acy;&mcy;&ncy;&ocy;&jcy; &rcy;&acy;&scy;&scy;&ycy;&lcy;&kcy;&icy;
            li
              a.ut_m(href='https://tochka-school.ru/storage/app/media/Dokumenti/Polzovatelskoe_soglashenie.pdf' target='_blank') &Pcy;&ocy;&lcy;&softcy;&zcy;&ocy;&vcy;&acy;&tcy;&iecy;&lcy;&softcy;&scy;&kcy;&ocy;&iecy; &scy;&ocy;&gcy;&lcy;&acy;&shcy;&iecy;&ncy;&icy;&iecy;
            li
              a.ut_m(href='https://tochka-school.ru/storage/app/media/Dokumenti/Oferta_Tocka_Znanii.pdf' target='_blank') &Pcy;&ucy;&bcy;&lcy;&icy;&chcy;&ncy;&acy;&yacy; &Ocy;&fcy;&iecy;&rcy;&tcy;&acy;
            li
              a.ut_m(href='https://tochka-school.ru/storage/app/media/Dokumenti/Dopolnitelnoe_soglashenie_Eksternat.pdf' target='_blank') &Scy;&ocy;&gcy;&lcy;&acy;&shcy;&iecy;&ncy;&icy;&iecy; &ncy;&acy; &ecy;&kcy;&scy;&tcy;&iecy;&rcy;&ncy;&acy;&tcy;
        .flex-xl-fill.fblk-contact
          .footer-contact
            h3 &Kcy;&ocy;&ncy;&tcy;&acy;&kcy;&tcy;&ycy;
            a.tel(href='tel:88003503268') 8 800 350 32 68
            span.call &Zcy;&vcy;&ocy;&ncy;&ocy;&kcy; &pcy;&ocy; &Rcy;&ocy;&scy;&scy;&icy;&icy; &bcy;&iecy;&scy;&pcy;&lcy;&acy;&tcy;&ncy;&ycy;&jcy;
            a.whatsapp.d-flex.align-items-center(href='https://wa.me/79182172497' target='_blank') 8 (918) 217-24-97
            a.email(href='mailto:sale@matematik-andrei.ru') school-matematik-andrei@yandex.ru
          .social
            p &Scy;&ocy;&tscy;&icy;&acy;&lcy;&softcy;&ncy;&ycy;&iecy; &scy;&iecy;&tcy;&icy;:
            ul.list-unstyled.d-flex
              li
                a(href='https://t.me/+WMCtnpy5ClRiZWQy' target='_blank')
                  img(src='https://tochka-school.ru/themes/school-point/assets/img/social-icon3.svg' alt='')
              li
                a(href='https://vk.com/matematik_andrei' target='_blank')
                  img(src='https://tochka-school.ru/themes/school-point/assets/img/social-icon4.svg' alt='')
              li
                a(href='http://www.youtube.com/@matematik_andrei' target='_blank')
                  img(src='https://tochka-school.ru/themes/school-point/assets/img/social-icon2.svg' alt='')
              li
                a(href='https://www.tiktok.com/@matematik_andrei' target='_blank')
                  img(src='https://tochka-school.ru/themes/school-point/assets/img/social-icon1.svg' alt='')
    .footer-bottom.d-flex.align-items-xl-center.justify-content-between
      p
        span &Dcy;&acy;&tcy;&acy; &pcy;&rcy;&iecy;&dcy;&ocy;&scy;&tcy;&acy;&vcy;&lcy;&iecy;&ncy;&icy;&yacy;
        |  &lcy;&icy;&tscy;&iecy;&ncy;&zcy;&icy;&icy;: 11 &mcy;&acy;&yacy; 2023
      p
        span &Rcy;&iecy;&gcy;&icy;&scy;&tcy;&rcy;&acy;&tscy;&icy;&ocy;&ncy;&ncy;&ycy;&jcy; &ncy;&ocy;&mcy;&iecy;&rcy;
        |  &lcy;&icy;&tscy;&iecy;&ncy;&zcy;&icy;&icy;: &numero; &Lcy;035-01218-23/00650937
      a.sk(href='https://sk.ru/' data-noparam='no' target='_blank' rel='nofollow')
        img(src='https://tochka-school.ru/themes/school-point/assets/img/sk-logo.svg' alt='')
