.footer-small
  .cont-small
    .footer-small__area
      .footer-small__logo
        img.footer-small__logo-image(src=staticImg('icons/logo_white.svg') alt='')
      .footer-small__license
        | ООО "Точка Знаний", ОГРН 1232300017817.
        br
        | Лицензия № Л035-01218-23/00650937 от&nbsp;11.05.2023.
      a.footer-small__policy(href='https://tochka-school.ru/storage/app/media/Dokumenti/Politika_obrabotki_personalnih_dannih_OOO.pdf'
        target='_blank') Политика обработки персональных данных
