header.fix.header_shadow
  .container
    .header-block.d-flex.align-items-center.justify-content-between
      .logo.d-flex.align-items-center.justify-content-between
        div
          img(src='assets/img/logo.svg' alt='Точка знаний')
        .slogan &Ocy;&ncy;&lcy;&acy;&jcy;&ncy;-&shcy;&kcy;&ocy;&lcy;&acy;
      nav.d-flex.align-items-center
        button.mobile-nav.d-flex.align-items-center &Mcy;&iecy;&ncy;&yucy;
        ul.d-md-flex.list-unstyled
          li
            a(href='index.html') &Gcy;&lcy;&acy;&vcy;&ncy;&acy;&yacy;
          li
            a.anchor(href='#Reviews') &Ocy;&tcy;&zcy;&ycy;&vcy;&ycy;
      .lk
        a.btn.btn-warning.d-flex.align-items-center(href='#') &Lcy;&icy;&chcy;&ncy;&ycy;&jcy; &kcy;&acy;&bcy;&icy;&ncy;&iecy;&tcy;
    .nav-block
      .nav-school
        ul.list-unstyled
          li
            a(href='nachalnaya_shkola.html')
              | &Ncy;&acy;&chcy;&acy;&lcy;&softcy;&ncy;&acy;&yacy; &shcy;&kcy;&ocy;&lcy;&acy;
              span 1-4 &kcy;&lcy;&acy;&scy;&scy;
          li
            a(href='srednyaya_shkola.html')
              | &Scy;&rcy;&iecy;&dcy;&ncy;&yacy;&yacy; &shcy;&kcy;&ocy;&lcy;&acy;
              span 5-8 &kcy;&lcy;&acy;&scy;&scy;
          li
            a(href='starshaya_shkola.html')
              | &Scy;&tcy;&acy;&rcy;&shcy;&acy;&yacy; &shcy;&kcy;&ocy;&lcy;&acy;
              span 9-11 &kcy;&lcy;&acy;&scy;&scy;
      .nav-consult
        span &Ncy;&ucy;&zhcy;&ncy;&acy; &kcy;&ocy;&ncy;&scy;&ucy;&lcy;&softcy;&tcy;&acy;&tscy;&icy;&yacy;?
        p &Ncy;&acy;&pcy;&icy;&shcy;&icy;&tcy;&iecy; &ncy;&acy;&mcy; &vcy; &Tcy;&iecy;&lcy;&iecy;&gcy;&rcy;&acy;&mcy;. &Ocy;&tcy;&vcy;&iecy;&tcy;&icy;&mcy; &ncy;&acy; &vcy;&scy;&iecy; &vcy;&ocy;&pcy;&rcy;&ocy;&scy;&ycy; &icy; &pcy;&ocy;&mcy;&ocy;&zhcy;&iecy;&mcy; &vcy; &vcy;&ycy;&bcy;&ocy;&rcy;&iecy;.
        a.btn.btn-warning(href='#modal-order' data-fancybox) Оставить заявку
        a.btn-wp(href='#') Связаться в WhatsApp
      .nav-contact
        div
          a.nav-tel(href='tel:88003503268') 8 800 350 32 68
          span &Zcy;&vcy;&ocy;&ncy;&ocy;&kcy; &pcy;&ocy; &Rcy;&ocy;&scy;&scy;&icy;&icy; &bcy;&iecy;&scy;&pcy;&lcy;&acy;&tcy;&ncy;&ycy;&jcy;
        div.nav-box
          a.whatsapp(href='https://wa.me/79182172497') 8 (918) 217-24-97
          a.nav-email(href='mailto:school-matematik-andrei@yandex.ru') school-matematik-andrei@yandex.ru
