header.fix
  .container
    .header-block.d-flex.align-items-center.justify-content-between
      .logo.d-flex.align-items-center.justify-content-between
        div
          img.logo-image(src=staticImg('logo_new.svg') alt='Точка знаний')
        .slogan Онлайн-школа
      nav.d-flex.align-items-center
        button.mobile-nav.d-flex.align-items-center Меню
        ul.list-unstyled
          li
            a(href='index.html') Главная
          li
            a.anchor(href='#Reviews') Отзывы
          li
            a(href='#') Курсы для учителей
      .lk
        a.btn.btn-warning.d-flex.align-items-center(href='#') Личный кабинет
    .nav-block
      .nav-school
        ul.list-unstyled
          li
            a(href='nachalnaya_shkola.html')
              | Начальная школа
              span 1-4 класс
          li
            a(href='srednyaya_shkola.html')
              | Средняя школа
              span 5-8 класс
          li
            a(href='starshaya_shkola.html')
              | Старшая школа
              span 9-11 класс
          li
            a(href='#')
              | Курс для учителя
          li
            a(href='#')
              | Предзапись на учебный год 25/26
          li
            a(href='#')
              | Наш блог
      .nav-consult
        span Нужна консультация?
        p Оставьте заявку. Ответим на все вопросы и&nbsp;поможем в выборе.
        if VIEW === 'course-teacher'
          a.btn.btn-warning(href='#modal-order-teacher' data-fancybox data-options='{"touch": false}') Оставить заявку
        else
          a.btn.btn-warning(href='#modal-order' data-fancybox data-options='{"touch": false}') Оставить заявку
        .nav-contact.nav-contact_mob
          div
            a.nav-tel(href='tel:88003503268') 8 800 350 32 68
            span Звонок по России бесплатный
          div.nav-box
            a.link-wp(href='https://wa.me/79182172497' target="_blank") Написать в WhatsApp
            a.nav-email(href='mailto:tochka-school@yandex.ru') tochka-school@yandex.ru
      .nav-contact
        div
          a.nav-tel(href='tel:88003503268') 8 800 350 32 68
          span Звонок по России бесплатный
        div.nav-box
          a.link-wp(href='https://wa.me/79182172497' target="_blank") Написать в WhatsApp
          a.nav-email(href='mailto:tochka-school@yandex.ru') tochka-school@yandex.ru
