include ../../_variables
include _connect-style
include _title

doctype html
html(lang='ru')
  head
    include _head
    block head
  body.fix-top#body
    .sticky-header
      if VIEW !== 'marathon'
        include ../marathon-informer
      include header
    main.wrapper
      block body
    include ../modals/modal-order
    include footer
    include scripts
