include ../../_variables
include _connect-style
include _title

doctype html
html(lang='ru')
  head
    include _head
    block head
  body.fix-top#body
    .sticky-header
      //if VIEW !== 'marathon'
      include ../discount
      include header
    main.wrapper
      block body
    include ../modals/modal-order
    include ../modals/modal-order-teacher
    include footer
    include scripts
    script.
      window.addEventListener("DOMContentLoaded", () => {

        //     function setCookie(name, value, days) {
        //         let expires = "";
        //         if (days) {
        //             let date = new Date();
        //             date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
        //             expires = "; expires=" + date.toUTCString();
        //         }
        //         document.cookie = name + "=" + (value || "") + expires + "; path=/";
        //     }

        //     function getCookie(name) {
        //         let matches = document.cookie.match(new RegExp("(?:^|; )" + name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + "=([^;]*)"));
        //         return matches ? decodeURIComponent(matches[1]) : undefined;
        //     }


        //     function checkCookies() {
        //         try{
        //         let cookieNote = document.getElementById('cookie_note_');
        //         let cookieBtnAccept = cookieNote.querySelector('.cookie_b');


        //         if (!getCookie('cookies_policy')) {
        //             cookieNote.classList.add('show');
        //         }


        //         cookieBtnAccept.addEventListener('click', function () {
        //             setCookie('cookies_policy', 'true', 365);
        //             cookieNote.classList.remove('show');
        //         });
        //         }catch(e){};
        //     }

        //     checkCookies();
        var search = "?" + window.location.search.split("&").filter(function (val) {
          var value = val.replace(/\?/, 'matematik-andrei.ru');
          return value.indexOf("s_") === -1 && value.indexOf("tfc_") === -1;
        }).join("&").replace(/\?/, "");
        if (search !== "?") {
          var aLinks = document.querySelectorAll('a');
          var arrayLinks = Array.from(aLinks);
          arrayLinks.forEach(function (el) {
            var href = el.getAttribute("href");
            var data_noparam = el.getAttribute("data-noparam");
            if (href && href.indexOf("") > -1 && href.indexOf("#") === -1 && data_noparam != 'no') {
              if (href.indexOf("?") === -1) {
                el.setAttribute("href", href + search);
              } else {
                el.setAttribute("href", href + search.replace("?", "&"));
              }
            }
          });
          try {
            const params = new URLSearchParams(search);
            params.delete("promo");
            const updateSearch = params.toString()
            if ($('.btn_fpay').length > 0) {
              // console.log(link_u);
              $('.btn_fpay').each(function () {
                $(this).attr('href', $(this).attr('href') + updateSearch);
                $(this).attr('old-href', $(this).attr('href'));
              });
              try {
                if ($('.price_input_f_pay').length > 0) {
                  $('.price_input_f_pay').each(function () {
                    $(this).attr('new-href', $(this).attr('new-href') + updateSearch);
                  });
                }
              } catch (e) {
              }
              ;
            }
          } catch (e) {
          }
          ;
          try {
            if ($('.input_utm').length > 0) {
              // console.log(link_u);
              $('.input_utm').each(function () {
                $(this).val(search);
              });
            }
          } catch (e) {
          }
          ;
        }
        // });
      });
      const messageRutObj = {};
      const fWasLoaded = 0;
      function posterFrame(num_poster) {
        var posterWatch_count = 0;
        var handlePosterWatch = function (r_iframe) {
          var handler = function (event) {
            var message = JSON.parse(event.data);
            //    messageRutObj[num_poster] = JSON.parse(event.data);
            //    var message = messageRutObj[num_poster];
            // console.log(message.type); // some type
            console.log(posterWatch_count);
            if (posterWatch_count == 0) {
              console.log(message);
              switch (message.type) {
                case 'player:ready':
                  // console.log(message);
                  // if(r_iframe.getAttribute('data-vf') == num_poster){
                  if (messageRutObj[num_poster] != 1) {
                    r_iframe.contentWindow.postMessage(JSON.stringify({type: 'player:unMute', data: {time: 0}}), '*');
                    r_iframe.contentWindow.postMessage(JSON.stringify({
                      type: 'player:setCurrentTime',
                      data: {time: 0}
                    }), '*');
                    r_iframe.contentWindow.postMessage(JSON.stringify({type: 'player:play', data: {}}), '*');
                  }
                  messageRutObj[num_poster] = 1;
                      // }
                      // $('.review_watch').each(function(){
                      //     if($(this).attr('data-pb') != num_poster){
                      //         let poster__iframe = document.querySelector('[data-vf="'+$(this).attr('data-pb')+'"]');
                      //         poster__iframe.contentWindow.postMessage(JSON.stringify({type: 'player:pause',data: {}}), '*');
                      //     }
                      // });
                case 'player:changeState':
                  // console.log(message);
                  if (message.data.state == 'playing') {
                    posterWatch_count++;
                  }
                case 'player:rollState':
                  // console.log(message.data.state);
                  // console.log(message);
                  if (message.data.state == 'play') {
                    r_iframe.contentWindow.postMessage(JSON.stringify({type: 'player:pause', data: {}}), '*');
                  }
                  if (message.data.state == 'complete') {
                    // if(r_iframe.getAttribute('data-vf') == num_poster){
                    r_iframe.contentWindow.postMessage(JSON.stringify({
                      type: 'player:setCurrentTime',
                      data: {time: 0}
                    }), '*');
                    r_iframe.contentWindow.postMessage(JSON.stringify({type: 'player:play', data: {}}), '*');
                    posterWatch_count++;
                    // }
                    // $('.review_watch').each(function(){
                    //     let poster__iframe = document.querySelector('[data-vf="'+$(this).attr('data-pb')+'"]');
                    //     poster__iframe.contentWindow.postMessage(JSON.stringify({type: 'player:pause',data: {}}), '*');
                    // });
                    //window.removeEventListener("message", handlePosterWatch);
                    // console.log(message.data.state);
                  }
                      // break;
              }
              ;
            }
          };
          return handler;
        };

        var player_iframe = document.querySelector('[data-vf="' + num_poster + '"]');

        window.addEventListener('message', handlePosterWatch(player_iframe));

        // let player_iframe = document.querySelector('[data-vf="'+num_poster+'"]');
        // player_iframe.contentWindow.postMessage(JSON.stringify({type: 'player:setCurrentTime',data: {time: 0}}), '*');
        // player_iframe.contentWindow.postMessage(JSON.stringify({type: 'player:play',data: {}}), '*');


      }
      // Вызов функции при загрузке страницы и изменении размера окна
      document.addEventListener('DOMContentLoaded', (event) => {

        if ($('.video-posters').length > 0 && $('.player-buttons').length > 0 && $('.video-iframes').length > 0) {
          // console.log(link_u);
          $('.video-posters').each(function () {
            $(this).on('click', function () {
              $('[data-pb="' + $(this).attr('data-vp') + '"]').hide();
              $(this).hide();
              $('[data-vf="' + $(this).attr('data-vp') + '"]').show();
              $('[data-vf="' + $(this).attr('data-vp') + '"]').attr('src', $('[data-vf="' + $(this).attr('data-vp') + '"]').attr('data-src') + "&autoplay=1&playerId=9");

              if ($('[data-vf="' + $(this).attr('data-vp') + '"]').hasClass("review_watch")) {
                let num_poster = $(this).attr('data-vp');
                setTimeout(posterFrame, 1000, num_poster);
              }
            });
          });
          $('.player-buttons').each(function () {
            $(this).on('click', function () {
              $('[data-vp="' + $(this).attr('data-pb') + '"]').hide();
              $(this).hide();
              $('[data-vf="' + $(this).attr('data-pb') + '"]').show();
              $('[data-vf="' + $(this).attr('data-pb') + '"]').attr('src', $('[data-vf="' + $(this).attr('data-pb') + '"]').attr('data-src') + "&autoplay=1&playerId=9");

              if ($('[data-vf="' + $(this).attr('data-pb') + '"]').hasClass("review_watch")) {
                let num_poster = $(this).attr('data-pb');
                setTimeout(posterFrame, 1000, num_poster);
              }
            });
          });
        }
      });

